@import "../../../assets/scss/variables";

.referal-page .referal {
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 30px;

  h1 {
    line-height: 5.2rem;

    + p {
      margin-top: 8px;
    }
  }

  h2 {
    margin-top: 60px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  &--list {
    margin-top: 27px;

    li {
      padding-left: 20px;
      color: $text;
      font-size: 1.8rem;
      line-height: 2.4rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: 6px;
        height: 6px;
        background-color: #28465a;
        border-radius: 50%;
      }

      + li {
        margin-top: 20px;
      }
    }
  }

  .terms {
    margin-top: 44px;

    ~ p {
      margin-top: 20px;
    }
  }

  .commission {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-gap: 35px;

    &--item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 58px;
      padding: 0 28px 0 40px;
      border: 2px solid #e3e9ed;
      border-radius: 10px;

      .left {
        display: flex;
        align-items: center;

        img + img {
          margin-left: 20px;
        }

        img.visa {
          margin-left: 85px;
        }
      }

      .right {
        color: black;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.4rem;
      }
    }
  }

  .referal-btn {
    margin-top: 45px;
    max-width: 380px;
  }

  .referal-links-block {
      display: none;

      &.opened {
          display: block;
      }
  }

  .referal-links {
    margin-top: 45px;
    padding: 36px;
    background-color: #f3f6f8;

    h3 {
      margin-bottom: 40px;
      line-height: 3.6rem;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      td {
        padding: 8px 0;
        color: $text;
        font-size: 1.8rem;
        line-height: 2.4rem;

        &:first-child {
          width: 300px;
          padding-right: 10px;
        }

        .link {
          display: flex;
          align-items: center;

          .copy-btn {
            width: 20px;
            height: 20px;
            background: url("./ic-copy.svg") 0 0 no-repeat;
          }

          a,
          span {
            display: inline-block;
            margin-left: 12px;
            color: $text;
            font-size: 2rem;
            font-weight: bold;
            line-height: 2.8rem;
          }
        }
      }
    }
  }

  .partner-link {
      margin-top: 45px;
      max-width: 290px;

      &:hover {
          color: white;
      }
  }
}