@import "../../../../assets/scss/variables";

.tariffs-mobile {
  display: none;
  margin-top: 20px;

  .carousel {
    &.carousel-slider {
      padding-top: 20px;
      padding-bottom: 50px;
    }

    .slider-wrapper {
      overflow: initial;
    }

    .slide {
      background: none;

      .subscription-list--item {
        max-width: 90%;
        margin: 0 auto;
        padding: 30px 20px;
      }
    }

    .control-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      bottom: 0;

      .dot {
        margin: 0 4.5px;
        background-color: #ccc;
        box-shadow: none;
        opacity: 1;
        outline: none;

        &.selected {
          background-color: $blue;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .tariffs-mobile {
    display: block;
  }
}