@import "../../../../assets/scss/variables";

.live-forks--group.forks {
  .group--item {
    box-shadow: none;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1;

    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 45px 14px 28px;
      background-color: #d6e5ff;
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);

      h2 {
        color: #28289f;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2rem;

        span {
          display: inline-block;
          margin-left: 10px;
          font-size: 1.2rem;
          font-weight: normal;
          letter-spacing: 0.1px;
        }
      }

      .clear-btn {
        display: flex;
        align-items: center;

        span {
          color: $text;
          font-size: 1.2rem;
          line-height: 2.4rem;
          letter-spacing: 0.1px;
        }

        img {
          margin-left: 12px;
        }
      }
    }

    &--filters {
      display: flex;
      align-items: center;
      height: 40px;
      padding: 0 23px;
      background-color: white;
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
      position: relative;
      z-index: 3;

      .form-row {
        + .form-row {
          margin: 0 0 0 16px;
        }

        &.checkbox {
          width: auto;

          input[type="checkbox"] + label {
            padding-left: 16px;
            color: $text;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1;

            &::before {
              top: -1px;
              transform: translateY(0);
              width: 12px;
              height: 12px;
              background-color: white;
              border-width: 1px;
              border-radius: 2px;
            }
          }

          input[type="checkbox"]:checked + label::before {
            border-width: 1px;
            background: $blue url("./ic-checkmark.svg") 50% 50% no-repeat;
          }
        }
      }
    }

    &--heading {
      background-color: rgba(243, 246, 248, 0.33);

      .left {
        padding-left: 38px;

        .percent::before {
          background-color: #2bc800;
        }

        .sport {
          margin-left: 23px;

          span {
            margin-left: 2px;
            font-weight: 600;
          }
        }
      }

      .right {
        padding-right: 48px;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 26px;
          height: 26px;
          background-color: transparent;
          border-radius: 50%;

          + button {
            margin-left: 20px;
          }

          &.active {
            background-color: $blue;

            svg path {
              fill: white;
            }
          }
        }
      }
    }

    &--table {
      .provider {
        padding-left: 38px;
      }

      .close {
        width: 67px;
        padding-right: 50px;
      }
    }
  }
}