@import "../../../../assets/scss/_variables.scss";

.header--nav--lang {
  display: flex;
  align-items: center;

  li {
    position: relative;

    &.active a {
      color: $text;
    }

    + li {
      margin-left: 14px;

      &::before {
        content: "\002F";
        position: absolute;
        top: -1px;
        left: -9px;
        font-size: 1.4rem;
      }
    }
  }

  a {
    color: #b2b2b2;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;

    &:hover {
      color: #b2b2b2;
    }
  }
}