html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.scrollLock {
  overflow: hidden;
}

.app {
  max-width: 2560px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin: 0;
  font-family: $Montserrat;
  font-weight: bold;
  font-size: 4rem;
}

h2 {
  margin: 0;
  font-family: $Montserrat;
  font-weight: 600;
  font-size: 3.2rem;
}

h3 {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
}

h4 {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
}

h5 {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

p {
  margin: 0;
  color: $text;
  font-size: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 80px;
}

@media screen and (max-width: 700px) {
  .page-wrapper {
    display: block;
    height: auto;
  }
}

.btn-group {
  display: flex;
  align-items: center;

  button + button {
    margin-left: 28px;
  }
}

%clearfix {
  content: "";
  display: table;
  clear: both;
}
