@import "../../../../assets/scss/variables";

.live-forks--group {
  .group--item {
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;

    &--heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #d6e5ff;
      position: relative;

      .left {
        display: flex;
        align-items: center;
        height: 50px;
        padding-left: 28px;

        .percent {
          color: $text;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1;
          position: relative;
          transition: color 0.3s;

          &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: -21px;
            width: 8px;
            height: 8px;
            background-color: $blue;
            border-radius: 50%;
            transition: background-color 0.3s;
          }
        }

        .sport {
          margin-left: 55px;
          display: flex;
          align-items: center;

          svg path {
            transition: fill 0.3s;
          }

          span {
            display: inline-block;
            margin-left: 5px;
            color: $text;
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 2.2rem;
            transition: color 0.3s;
          }
        }

        .forks {
          margin-left: 105px;
          display: flex;
          align-items: center;

          span {
            display: inline-block;
            margin-left: 13px;
            color: $text;
            font-size: 1.6rem;
            line-height: 2.2rem;
            transition: color 0.3s;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        padding-right: 17px;

        button + button {
          margin-left: 24px;
        }

        button svg path {
          transition: fill 0.3s, opacity 0.3s;
        }
      }
    }

    &--table {
      width: 100%;
      border-collapse: collapse;

      .provider {
        width: 160px;
        padding-right: 10px;
        padding-left: 28px;
        color: $blue;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1;
      }

      td {
        height: 66px;
        vertical-align: middle;
      }

      .event {
        position: relative;
        padding-left: 27px;

        .copy-btn {
          position: absolute;
          top: 18px;
          left: 0;
          width: 18px;
          height: 14px;
        }

        &-players {
          color: $text;
          font-size: 1.6rem;
          font-weight: 600;
        }

        &-name {
          display: inline-block;
          color: #94a3ac;
          font-size: 1.4rem;
          line-height: 2rem;
        }

        &-score {
          display: inline-block;
          margin-left: 5px;
          color: $blue;
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }

      .bet {
        text-align: center;
        width: 225px;
        padding: 0 5px;
        color: $text;
        font-size: 1.4rem;
        line-height: 2rem;
      }

      .dynamics {
        width: 70px;
        text-align: center;

        span {
          font-size: 1.8rem;
          font-weight: bold;
          line-height: 2.4rem;
          position: relative;
        }

        &.fall span {
          color: #eb5757;

          &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: -20px;
            width: 11px;
            height: 7px;
            background: url("./images/ic-arr-red.svg") 0 0 no-repeat;
          }
        }

        &.rise span {
          color: #27ae60;

          &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: -20px;
            width: 11px;
            height: 7px;
            background: url("./images/ic-arr-green.svg") 0 0 no-repeat;
          }
        }
      }

      .close {
        width: 30px;
        padding-right: 17px;

        .btn-close {
          display: inline-block;
          margin-top: 5px;
          width: 13px;
          height: 13px;
          background: url("./images/ic-close.svg") 0 0 no-repeat;
        }
      }
    }

    &.increase {
      .group--item--heading {
        background-color: rgba(43, 200, 0, 0.05);

        .left .percent {
          color: #2bc800;

          &::before {
            left: -20px;
            width: 13px;
            height: 7px;
            background: url("./images/ic-arr-top-green.svg") 0 0 no-repeat;
            border-radius: 0;
          }
        }
      }
    }

    &.decrease {
      .group--item--heading {
        background-color: rgba(254, 78, 78, 0.05);

        .left .percent {
          color: $red;

          &::before {
            left: -20px;
            width: 11px;
            height: 7px;
            background: url("./images/ic-arr-bottom-red.svg") 0 0 no-repeat;
            border-radius: 0;
          }
        }
      }
    }

    &.active {
      background-color: #f3f6f8;
      z-index: 5;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -11px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 91px 0 91px 11px;
        border-color: transparent transparent transparent #f3f6f8;
        z-index: 5;
      }

      .group--item--heading {
        background-color: $blue;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: -3px;
          transform: skew(6deg);
          width: 11px;
          height: 100%;
          background-color: $blue;
          z-index: 6;
        }

        .left {
          .percent {
            color: white;

            &::before {
              background-color: #2bc800;
            }
          }

          .sport {
            svg path {
              fill: white;
            }

            .time {
              color: white;
            }
          }

          .forks {
            .btn-copy svg path {
              fill: white;
              stroke: white;
            }

            span {
              color: white;
            }
          }
        }

        .right {
          button svg path {
            fill: white;
            opacity: 0.5;
          }

          button.active svg path {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2200px) {
  .live-forks--group .group--item--table .event-players {
    display: inline-block;
    margin-right: 10px;
  }

  .live-forks--group .group--item--table .event .copy-btn {
    top: 25px;
  }
}

@media screen and (max-width: 1780px) {
  .live-forks--group .group--item--table {
    .provider {
      width: 120px;
    }

    .bet {
      width: 140px;
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: 1580px) {
  .live-forks--group .group--item--heading .left {
    .sport {
      margin-left: 24px;
    }

    .forks {
      margin-left: 44px;
    }
  }

  .live-forks--group .group--item--table {
    .bet {
      width: 120px;
    }
  }
}