@import "../../../assets/scss/variables";

.faq-page {
  display: flex;
  margin: 65px auto 0;
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;

  .mobile-content-switcher {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 195px;
    height: 40px;
    color: $blue;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4rem;
    border-radius: 3px;
    border: 1px solid #979797;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }

  .questions {
    width: 330px;
    height: 650px;
    position: sticky;
    top: 100px;

    .ps {
      padding: 35px 30px 30px 0;

      &:hover .ps__rail-y {
        opacity: 1;
      }
    }

    .ps__rail-y {
      right: 7px !important;
      opacity: 1;
      width: 1px;
      background-color: #979797;

      &.ps--clicking {
        opacity: 1;
        background-color: #979797;

        .ps__thumb-y {
          width: 14px;
          background-color: $blue;
        }
      }

      &:hover {
        opacity: 1;
        background-color: #979797;

        .ps__thumb-y {
          width: 14px;
          background-color: $blue;
        }
      }
    }

    .ps__thumb-y {
      right: -6.5px;
      width: 14px;
      height: 32px;
      background-color: $blue;
      border-radius: 3px;
    }

    .faq-list li {
      display: block;
      color: $text;
      font-size: 2rem;
      font-weight: normal;
      line-height: 2.8rem;
      cursor: pointer;
      transition: color 0.2s;

      + li {
        margin-top: 27px;
      }

      &:hover,
      &.active {
        color: $blue;
      }
    }
  }

  .answers {
    max-width: 730px;
    margin-left: 60px;
    padding-top: 30px;
    padding-bottom: 145px;

    h1 {
      margin-bottom: 40px;
      line-height: 5.2rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.4rem;

      + p {
        margin-top: 20px;
      }
    }

    .answer--item {
      margin-top: 65px;

      h2 {
        margin-bottom: 27px;
        color: #212121;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 2.8rem;
        line-height: 3.6rem;
      }
    }
  }
}

@media screen and (min-width: 841px) {
  .faq-page .questions,
  .faq-page .answers {
    display: block !important;
  }
}

@media screen and (max-width: 1024px) {
  .faq-page {
    margin: 0 auto;
    padding: 30px 15px 70px;
  }
}

@media screen and (max-width: 840px) {
  .faq-page {
    display: block;

    .mobile-content-switcher {
      display: flex;
    }

    .questions {
      display: none;
      width: 100%;
      height: 450px;
      top: 0;
      position: relative;
    }

    .answers {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (max-width: 420px) {
  .faq-page .questions .ps {
    padding-top: 10px;
  }

  .faq-page .questions {
    height: 400px;
  }
}

@media screen and (max-width: 380px) {
  .faq-page .questions {
    height: 320px;
  }
}

@media screen and (max-width: 340px) {
  .faq-page .questions {
    height: 240px;
  }
}