@import "../../../../assets/scss/variables";

.header--mobile-nav {
  display: none;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 80px;

  &.opened {
    display: flex;
  }

  .main,
  .auth,
  .profile,
  .lang {
    display: inline-flex;
  }

  .main {
    li {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      height: 80px;
      padding: 0 15px;
      color: #b2b2b2;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.4rem;
      transition: color 0.2s;
      position: relative;
    }
  }

  .auth button {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 15px;
    color: #b2b2b2;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4rem;
    transition: color 0.2s;
    position: relative;
  }

  .lang {
    margin-left: 70px;

    li {
      position: relative;

      &.active a {
        color: $text;
      }

      + li {
        margin-left: 14px;

        &::before {
          content: "\002F";
          position: absolute;
          top: -1px;
          left: -9px;
          font-size: 1.4rem;
        }
      }
    }

    a {
      color: #b2b2b2;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.4rem;
    }
  }

  .profile {
    li + li {
      margin-left: 14px;
    }

    a, button {
      color: #b2b2b2;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.4rem;

      &:hover {
        color: #b2b2b2;
      }
    }
  }
}

@media screen and (min-width: 1221px) {
  .header--mobile-nav {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .header--mobile-nav {
    .main li:hover a,
    .main li.active a {
      color: $text;
    }
  }
}

@media screen and (max-width: 1000px) {
  .header--mobile-nav .main li:nth-child(6) {
    display: block;
  }
}

@media screen and (max-width: 920px) {
  .header--mobile-nav .main li:nth-child(5) {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .header--mobile-nav {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 45px;
    padding-bottom: 20px;

    .main {
      display: block;
      order: 1;
      width: 50%;

      li {
        display: block;

        &.active a {
          color: $blue;
        }

        + li {
          margin: 15px 0 0 0;
        }
      }

      a {
        height: auto;
        padding: 0;
        color: $text;
        font-size: 2rem;
        line-height: 2.4rem;
      }
    }

    .lang {
      display: block;
      order: 2;
      width: 50%;
      margin: 0;
      text-align: right;

      li + li {
        margin: 15px 0 0 0;

        &::before {
          display: none;
        }
      }

      a {
        font-size: 2rem;
        line-height: 2.4rem;
      }
    }

    .auth,
    .profile {
      display: block;
      order: 3;
      width: 100%;
      margin-top: 60px;

      li + li {
        margin: 15px 0 0 0;
      }

      button,
      a {
        height: auto;
        padding: 0;
        color: $text;
        font-size: 2rem;
        line-height: 2.4rem;
      }
    }
  }
}