@import "../../../../assets/scss/variables";

.live-forks--filter-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);

  .left {
    display: flex;
    align-items: center;

    button + button {
      margin-left: 24px;
    }

    .update {

      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 23px;
        width: 26px;
        height: 26px;
        background: white url("./ic-update.svg") 50% 50% no-repeat;
        border-radius: 50%;
        transition: left 0.3s;
      }

      &.updated {
        background-color: #d6e5ff;

        &::before {
          left: 3px;
        }
      }
    }

    .stack {
      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 23px;
        width: 26px;
        height: 26px;
        background: white url("./ic-stacks.svg") 50% 50% no-repeat;
        border-radius: 50%;
        transition: left 0.3s;
      }

      &.switched {
        background-color: #d6e5ff;

        &::before {
          left: 3px;
        }
      }
    }

    .calc {
      display: flex;
      justify-content: center;
      align-items: center;

      svg path {
        transition: fill 0.3s;
      }

      &.opened {
        background-color: #d6e5ff;

        svg path {
          fill: $blue;
        }
      }
    }

    .visibility {
      display: flex;
      justify-content: center;
      align-items: center;

      svg path {
        transition: fill 0.3s;
      }

      &.hidden {
        background-color: #d6e5ff;

        svg path {
          fill: $blue;
        }
      }
    }

    .fork-age {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 32px;
      background-color: white;
      color: $text;
      font-size: 1.2rem;
      font-weight: 600;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
      border-radius: 16px;

      span {
        margin: 0 6px 0 12px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    .labels {
      display: flex;
      align-items: center;
    }

    .ui.label {
      margin: 0;
      padding: 2px 11px;
      background-color: #e0ecfd;
      color: #0065f2;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 2rem;
      border-radius: 6px;
      border: 0;

      > .delete.icon {
        margin: 0 0 0 4px;
        width: 9px;
        height: 9px;
        background: url("./ic-delete.svg") 0 0 no-repeat;
        opacity: 1;

        &::before {
          display: none;
        }
      }

      + .label {
        margin-left: 10px;
      }

      &.gray {
        background-color: #f0f0f1;
        color: #4d4d4d;
      }

      &.brick {
        background-color: #fde7e0;
        color: #6b2117;
      }
    }

    .filters-link {
      margin-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 130px;
      height: 32px;
      background-color: white;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
      border-radius: 16px;

      span {
        display: inline-block;
        margin-left: 8px;
        color: $text;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1;
      }
    }
  }
}

@media screen and (max-width: 1780px) {
  .live-forks--filter-nav .right .ui.label:nth-last-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1640px) {
  .live-forks--filter-nav .right .ui.label:nth-last-child(3) {
    display: none;
  }
}