@import "../../../../../../../assets/scss/variables";

.break-events {
  width: 100%;
  margin-top: 60px;

  h3 {
    margin-bottom: 40px;
    color: $text;
    font-size: 1.6rem;
    line-height: 1;
  }

  &--list {
    li {
      display: flex;
      align-items: center;

      + li {
        margin-top: 20px;
      }

      .sport {
        display: flex;
        align-items: center;
        margin-left: 40px;

        .name {
          margin-left: 15px;
          color: black;
          font-size: 1.6rem;
          line-height: 1;
          letter-spacing: 0.1px;
        }
      }
    }
  }
}

.options-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72px;
  height: 12px;
  padding: 0 2px;
  background-color: $blue;
  border-radius: 16px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    z-index: 5;
    transition: transform 0.3s;
  }

  button {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }

  &.obligatory {
    background-color: $blue;

    &::before {
      transform: translateX(0);
    }
  }

  &.not-obligatory {
    background-color: #27ae60;

    &::before {
      transform: translateX(30px);
    }
  }

  &.different {
    background-color: $red;

    &::before {
      transform: translateX(59px);
    }
  }
}