@import "../../../assets/scss/variables";

.alerts-wrapper {
  position: fixed;
  top: 100px;
  right: 60px;
  z-index: 90;

  .alert {
    position: relative;
  }
}

.alert {
  position: fixed;
  top: 100px;
  right: 60px;
  width: 100%;
  max-width: 370px;
  padding: 24px 35px 24px 30px;
  background-color: white;
  border-radius: 10px;
  border-bottom: 12px solid $blue;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s ease-in;
  z-index: 90;

  &.remove {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -200px, 0);
  }

  &.warn {
      border-bottom-color: #FFC000;
  }

  &.success {
      border-bottom-color: #2BC800;
  }

  &.fail {
      border-bottom-color: $red;
  }

  + .alert {
      margin-top: 20px;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  a {
      color: $blue;
  }

  &-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 14px;
    height: 14px;

    svg path {
      transition: fill 0.2s, stroke 0.2s;
    }

    &:hover svg path {
      fill: $blue;
      stroke: $blue;
    }
  }
}

@media screen and (max-width: 1024px) {
  .alert {
    right: 20px;
    max-width: 320px;
  }
}

@media screen and (max-width: 350px) {
  .alert {
    max-width: 280px;
    padding-left: 10px;
  }
}