@import "../../../../assets/scss/variables";

.main-page .hero {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

  img {
    display: block;
  }

  &--block {
    position: absolute;
    top: 50%;
    left: 140px;
    transform: translateY(-35%);

    h1 {
      margin-bottom: 30px;
      color: white;
      font-weight: 800;
      font-size: 5.2rem;
      line-height: 6.8rem;
    }

    p {
      color: white;
      font-size: 2.4rem;
      line-height: 3rem;
    }

    .btn-group {
      margin-top: 70px;
    }

    .link-btn {

      + .link-btn {
        margin-left: 28px;
      }

      &.about {
        background-color: white;
        color: $text;
      }

      &.reg {
        background-color: $blue;
        color: white;
      }
    }
  }
}