@import "../../../../assets/scss/variables";

.page-profile .profile-filters {
  position: relative;

  .new-filter-btn {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 220px;
    z-index: 2;
  }

  .ui.tabular.menu {
    display: flex;
    align-items: center;
    padding-left: 35px;

    .item {
      display: inline-block;
      color: $text;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 3rem;
      letter-spacing: 0.1px;

      &.active {
        color: #e0e0e0;
      }

      + .item {
        margin-left: 40px;
      }

      .label {
        margin-left: 4px;
        padding: 0 8px;
        height: 24px;
        background-color: #e0ecfd;
        color: #0065f2;
        font-size: 1.4rem;
        line-height: 2.4rem;
        text-align: center;
        border-radius: 6px;
      }
    }
  }

  .ui.tabular.menu + .attached:not(.top).segment,
  .ui.tabular.menu + .attached:not(.top).segment + .attached:not(.top).segment {
    margin-top: 37px;
  }

  &--table {
    margin-top: 15px;

    table {
      width: 100%;
      border-collapse: collapse;
    }

    tbody tr:nth-child(odd) {
      border-top: 1px solid #e0e0e0;
      background-color: #f3f6f8;
    }

    th {
      padding: 15px 0;
      color: #7f7f7f;
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 1.4rem;
      text-align: left;
    }

    .th-check {
      width: 110px;
      text-align: center;
    }

    .th-properties {
      width: 195px;
      padding-left: 30px;
    }

    .th-settings {
      padding-left: 20px;
    }

    .th-delete {
      width: 90px;
      text-align: center;
    }

    td {
      padding: 13px 0;
      vertical-align: middle;
    }

    .td-check {
      text-align: center;

      .form-row label {
        width: 24px;
        height: 24px;
        padding-left: 0;

        &::before {
          top: 0;
          transform: translateY(10%);
        }
      }
    }

    .td-name {
      color: black;
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 0.1px;
    }

    .td-properties {
      padding-left: 30px;

      .color {
        padding-left: 18px;
        color: #bdbdbd;
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.1px;
        position: relative;

        &.yellow {
          color: #f2c94c;
          font-weight: 600;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 12px;
            background-color: #f2c94c;
            border-radius: 50%;
          }
        }

        &.green {
          color: #27ae60;
          font-weight: 600;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 12px;
            background-color: #27ae60;
            border-radius: 50%;
          }
        }

        &.red {
          color: #eb5757;
          font-weight: 600;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 12px;
            background-color: #eb5757;
            border-radius: 50%;
          }
        }
      }

      .text {
        padding-left: 18px;
        color: $text;
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.1px;
      }
    }

    .td-settings {
      padding-left: 16px;

      .ui.label {
        display: inline-flex;
        align-items: center;
        margin: 2px 4px;
        padding: 2px 6px;
        background-color: #e0ecfd;
        color: #0065f2;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        border-radius: 6px;

        .delete.icon {
          margin: 0 0 0 7px;
          padding: 0;
          width: 17px;
          height: 18px;
          background: url("./ic-close.svg") 0 0 no-repeat;
          opacity: 1;

          &::before {
            display: none;
          }
        }
      }
    }

    .td-delete {
      width: 90px;

      .delete-btn {
        display: block;
        margin: 0 auto;
        width: 17px;
        height: 19px;
        background: url("./ic-delete.svg") 0 0 no-repeat;

        span {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .page-profile .profile-filters {
    .new-filter-btn {
      right: 35px;
    }

    &--table {
      padding: 0 35px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-profile .profile-filters {
    .ui.tabular.menu {
      padding: 0 20px;
    }

    .new-filter-btn {
      right: 20px;
    }

    &--table {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 820px) {
  .page-profile .profile-filters--table .th-check {
    width: 70px;
  }
}

@media screen and (max-width: 750px) {
  .page-profile .profile-filters {
    .new-filter-btn {
      top: 55px;
      right: auto;
      left: 20px;
    }

    .ui.tabular.menu + .attached:not(.top).segment,
    .ui.tabular.menu + .attached:not(.top).segment + .attached:not(.top).segment {
      margin-top: 125px;
    }

    &--table {
      table,
      tbody,
      tr,
      td {
        display: block;
      }

      thead,
      th {
        display: none;
      }

      tr {
        padding: 20px 10px 30px 20px;
        border-top: 1px solid #e0e0e0;
        position: relative;
      }

      td {
        padding: 0;

        + td {
          margin-top: 15px;
        }

        &.td-check {
          position: absolute;
          top: 20px;
          left: 20px;
          width: 24px;
          height: 24px;
        }

        &.td-name {
          margin-top: 3px;
          padding-left: 42px;
        }

        &.td-properties {
          padding-left: 42px;
        }

        &.td-settings {
          padding-left: 42px;
        }

        &.td-delete {
          width: auto;

          .delete-btn {
            display: inline-block;
            width: auto;
            height: auto;
            padding-left: 42px;
            background-position: 3px 50%;

            span {
              display: inline-block;
              color: #b2b2b2;
              font-size: 1.6rem;
              line-height: 2.4rem;
              letter-spacing: 0.1px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .page-profile .profile-filters .ui.tabular.menu .item {
    .label {
      display: none;
    }

    + .item {
      margin-left: 30px;
    }
  }
}

@media screen and (max-width: 350px) {
  .page-profile .profile-filters .ui.tabular.menu .item {
    + .item {
      margin-left: 20px;
    }
  }
}