.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6rem;
  border-radius: 3px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  background-color: $blue;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.8rem;
  border-radius: 3px;
  transition: background-color 0.2s, box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.white-btn {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 24px;
  background-color: white;
  color: $text;
  font-size: 1.6rem;
  line-height: 1.2;
  border-radius: 3px;
  border: 1px solid #b2b2b2;
  transition: border-color 0.3s, color 0.3s, background-color 0.3s;

  &:hover {
    background-color: $blue;
    color: white;
    border-color: $blue;
  }
}

.text-btn {
  color: $text;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4rem;
  text-align: center;
}

.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 32px;
  background-color: $blue;
  border-radius: 16px;
  position: relative;
  transition: background-color 0.3s;
}