.form-row {
  .ui.selection.dropdown {
    display: block;
    min-width: auto;
    min-height: auto;
    height: 58px;
    padding: 16px 22px;
    background-color: #f9f9f9;
    border: 1px solid #e3e9ed;
    border-radius: 3px;

    > .text {
      color: $text;
      font-size: 2rem;
      line-height: 2.4rem;

      &.default {
        color: #b2b2b2;
      }
    }

    .dropdown.icon {
      top: 25px;
      right: 25px;
      margin: 0;
      padding: 0;
      width: 12px;
      height: 8px;
      background: url("../img/ic-dropdown.svg") 0 0 no-repeat;
      transition: transform 0.3s;

      &::before {
        display: none;
      }
    }

    .menu {
      left: -2px;
      max-height: none;
      margin: 0;
      width: calc(100% + 4px);
      border-radius: 3px;
      padding-top: 8px;

      > .item {
        padding: 17px 22px !important;
        color: $text;
        font-size: 1.8rem;
        line-height: 2.4rem;
        border: 0;
      }
    }

    &.active {
      background-color: white;
      border: 2px solid $blue;

      &::before {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 44px);
        height: 1px;
        background-color: #e3e9ed;
      }

      .dropdown.icon {
        transform: rotate(-180deg);
      }

      .menu {
        border: 2px solid $blue;
      }
    }
  }

  .ui.dropdown .menu .selected.item {
    background: none;

    &:hover {
      background: rgba(0, 0, 0, .05);
    }
  }

  &.error .ui.selection.dropdown {
    border: 2px solid $red;

    > .text {
      color: $red;

      &.default {
        color: $red;
      }
    }
  }
}