.form-row {
  width: 100%;
  max-width: 100%;
  position: relative;

  .error-msg {
    display: none;
    margin-top: 12px;
    color: $red;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  &.error {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    textarea {
      color: $red;
      border: 2px solid $red;

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }

      &:-ms-input-placeholder {
        color: transparent;
      }
    }

    .error-msg {
      display: block;
    }
  }

  &.password-text {
    input[type="password"],
    input[type="text"] {
      padding-right: 120px;
    }

    span {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      color: #b2b2b2;
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: -0.5px;
    }
  }

  &.checkbox {
    input[type="checkbox"] {
      position: absolute;
      left: -9999px;
      opacity: 0;

      + label {
        position: relative;
        display: inline-block;
        margin: 0;
        padding-left: 36px;
        color: #4c4c4c;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: normal;
        text-align: left;
        user-select: none;
        cursor: pointer;

        a {
          color: $blue;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 24px;
          height: 24px;
          background: #f9f9f9;
          border-radius: 4px;
          border: 2px solid #c9d1d6;
          transition: background 0.2s, border 0.2s;
        }

        &:hover::before {
          border: 2px solid #94a3ac;
        }
      }
    }

    input[type="checkbox"]:checked + label::before {
      background: $blue url("../img/ic-checkmark.svg") 50% 50% no-repeat;
      border: 2px solid $blue;
    }
  }

  &.radio {
    input[type="radio"] {
      position: absolute;
      left: -9999px;
      opacity: 0;

      + label {
        position: relative;
        display: inline-block;
        margin: 0;
        color: #4c4c4c;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: normal;
        user-select: none;
        cursor: pointer;

        a {
          color: $blue;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 2px solid $text;
          transition: border-color 0.2s;
        }

        &::after {
          display: none;
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          width: 8px;
          height: 8px;
          background-color: $blue;
          border-radius: 50%;
        }

        &:hover::before {
          border-color: #94a3ac;
        }
      }
    }

    input[type="radio"]:checked + label {
      &::before {
        border-color: $blue;
      }

      &::after {
        display: block;
      }
    }
  }

  &.req::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 5px;
    height: 5px;
    background-color: $blue;
    border-radius: 50%;
    z-index: 2;
  }

  &.textarea {
    margin-bottom: 24px;

    .symbols-counter {
      position: absolute;
      top: calc(100% + 10px);
      right: 22px;
      color: #7f7f7f;
      font-size: 1.4rem;
      line-height: 1.4rem;
      text-align: right;
    }

    &.error {
      .error-msg {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        margin-top: 0;
      }

      textarea::-webkit-input-placeholder {
        color: $red;
      }

      textarea::-moz-placeholder {
        color: $red;
      }

      textarea:-ms-input-placeholder {
        color: $red;
      }
    }
  }

  + .form-row {
    margin-top: 25px;
  }
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  display: block;
  width: 100%;
  height: 58px;
  padding: 0 22px;
  background-color: #f9f9f9;
  color: $text;
  font-size: 2rem;
  line-height: 2.4rem;
  border-radius: 3px;
  border: 1px solid #e3e9ed;
  transition: border 0.2s, color 0.2s;

  &::-webkit-input-placeholder {
    color: #b2b2b2;
  }

  &::-moz-placeholder {
    color: #b2b2b2;
  }

  &:-ms-input-placeholder {
    color: #b2b2b2;
  }

  &:hover {
    border: 1px solid #b2b2b2;
  }

  &:focus {
    border: 2px solid $blue;
    outline: none;

    &::-webkit-input-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }
  }

  &.filled {
    border: 1px solid #4c4c4c;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"] {
  -moz-appearance:textfield;
}

textarea {
  display: block;
  width: 100%;
  padding: 16px 22px;
  background-color: #f9f9f9;
  color: $text;
  font-size: 2rem;
  line-height: 2.4rem;
  border-radius: 3px;
  border: 1px solid #e3e9ed;
  resize: vertical;
  transition: border 0.2s, color 0.2s;

  &.draggable {
    border: 2px dashed $blue;
  }

  &::-webkit-input-placeholder {
    color: #b2b2b2;
  }

  &::-moz-placeholder {
    color: #b2b2b2;
  }

  &:-ms-input-placeholder {
    color: #b2b2b2;
  }

  &:hover {
    border: 1px solid #b2b2b2;
  }

  &:focus {
    border: 2px solid $blue;
    outline: none;

    &::-webkit-input-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }
  }

  &.filled {
    border: 1px solid #4c4c4c;
  }
}

.submit-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  background-color: $blue;
  color: #f3f6f8;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4rem;
  border-radius: 3px;
  transition: background-color 0.2s, box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  &.disabled {
    background-color: #c9d1d6;
    box-shadow: none;
    pointer-events: none;
  }
}