.ui.dimmer {
  background-color: rgba(255, 255, 255, 0.8);
}

.modals.dimmer .ui.scrolling.modal {
  margin: 0 auto;
}

.ui.modal {
  width: 100%;
  max-width: 425px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #f3f6f8;
  padding: 30px 45px;
  position: relative;
}

.ui.modal > .icon:first-child + *,
.ui.modal > :first-child:not(.icon),
.ui.modal > :last-child {
  border-radius: 0;
}

.modal {
  &--title {
    color: $text;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
  }

  &--close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 14px;
    height: 14px;

    svg path {
      transition: fill 0.2s, stroke 0.2s;
    }

    &:hover svg path {
      fill: $blue;
      stroke: $blue;
    }
  }

  form {
    margin-top: 35px;
  }

  .row {
    width: 100%;
    max-width: 100%;
    position: relative;

    &.error {
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        color: $red;
        border-color: $red;

        &::-webkit-input-placeholder {
          color: transparent;
        }

        &::-moz-placeholder {
          color: transparent;
        }

        &:-ms-input-placeholder {
          color: transparent;
        }
      }
    }

    &.password {
      input[type="password"],
      input[type="text"] {
        padding-right: 60px;
      }

      .pass-toggler {
        position: absolute;
        top: 18px;
        right: 20px;
        width: 30px;
        height: 22px;
        z-index: 2;

        svg:last-child {
          display: none;
        }

        svg path {
          transition: fill 0.2s;
        }

        &:hover svg path {
          fill: $blue;
        }

        &.opened {
          svg:first-child {
            display: none;
          }

          svg:last-child {
            display: block;
          }
        }
      }
    }

    &.password-text {
      span {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        color: #b2b2b2;
        font-size: 1.4rem;
        line-height: 2rem;
        letter-spacing: -0.5px;
      }
    }

    &.checkbox {
      input[type="checkbox"] {
        position: absolute;
        left: -9999px;
        opacity: 0;

        + label {
          position: relative;
          display: inline-block;
          margin: 0;
          padding-left: 36px;
          color: #4c4c4c;
          font-size: 1.4rem;
          line-height: 1.6rem;
          font-weight: normal;
          text-align: left;
          user-select: none;
          cursor: pointer;

          a {
            color: $blue;
          }

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background: #f9f9f9;
            border-radius: 4px;
            border: 2px solid #c9d1d6;
            transition: background 0.2s, border 0.2s;
          }

          &:hover::before {
            border: 2px solid #94a3ac;
          }
        }
      }

      input[type="checkbox"]:checked + label::before {
        background: $blue url("../img/ic-checkmark.svg") 50% 50% no-repeat;
        border: 2px solid $blue;
      }
    }

    &.help-links {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;

      a {
        color: $text;
        font-size: 1.4rem;
        line-height: 1.4rem;
        transition: color 0.2s;

        &:hover {
          color: $blue;
        }
      }
    }

    + .row {
      margin-top: 18px;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 100%;
    height: 58px;
    padding: 0 22px;
    background-color: #f9f9f9;
    color: $text;
    font-size: 2rem;
    line-height: 2.4rem;
    border-radius: 3px;
    border: 1px solid #e3e9ed;
    transition: border 0.2s, color 0.2s;

    &::-webkit-input-placeholder {
      color: #b2b2b2;
    }

    &::-moz-placeholder {
      color: #b2b2b2;
    }

    &:-ms-input-placeholder {
      color: #b2b2b2;
    }

    &:hover {
      border: 1px solid #b2b2b2;
    }

    &:focus {
      border: 2px solid $blue;
      outline: none;

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }

      &:-ms-input-placeholder {
        color: transparent;
      }
    }

    &.filled {
      border: 1px solid #4c4c4c;
    }
  }

  .submit-btn {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    background-color: $blue;
    color: white;
    font-size: 2rem;
    line-height: 1.8rem;
    border-radius: 3px;
    transition: background-color 0.2s, box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }

    &.disabled {
      background-color: #c9d1d6;
      box-shadow: none;
      pointer-events: none;
    }
  }

  .input-rows {
    position: relative;

    .error-msg {
      display: none;
      position: absolute;
      top: calc(100% + 12px);
      left: 50%;
      transform: translateX(-50%);
      color: $red;
      font-size: 1.4rem;
      line-height: 1.6rem;
      white-space: nowrap;
      text-align: center;
    }

    &.error .error-msg {
      display: block;
    }

    &.recover-email {
      label {
        display: block;
        margin-top: 10px;
        color: #4c4c4c;
        font-size: 1.4rem;
        line-height: 1.6rem;
        text-align: left;
      }

      .error-msg {
        left: 0;
        transform: translateX(0);
        width: 100%;
        text-align: left;
        white-space: normal;
      }

      &.error {
        label {
          display: none;
        }
      }
    }
  }

  .agreement {
    margin-top: 60px;
  }

  .bottom-link {
    margin: 25px auto 0;
    display: block;
    max-width: 200px;
    color: $text;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .ui.page.dimmer {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 120px 20px 20px;
  }

  .ui.modal {
    max-width: 100%;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    position: relative;
  }

  .modal--close {
    top: -95px;
    right: 0;
    width: 30px;
    height: 30px;
    background: url("../img/ic-close-mobile.svg") 0 0 no-repeat;
  }

  .modal .input-rows .error-msg {
    top: calc(100% + 22px);
  }

  .modal .agreement {
    margin-top: 72px;
  }

  .modal .form-recovery .submit-btn {
    margin-top: 148px;
  }

  .modal .row.checkbox input[type="checkbox"] + label a {
    display: block;
  }
}