@import "../../../../assets/scss/variables";

.main-page .experience {
  width: 100%;
  max-width: 1110px;
  margin: 80px auto 160px;
  position: relative;

  > img {
    display: block;
  }

  &-block {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 930px;
    text-align: center;

    span {
      display: inline-block;
      padding-bottom: 7px;
      color: $text;
      font-size: 2.4rem;
      line-height: 3rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $blue;
        border-radius: 10px;
      }
    }

    p {
      margin-top: 35px;
      color: $text;
      font-family: $Montserrat;
      font-weight: bold;
      font-size: 4rem;
      line-height: 5.2rem;
    }
  }
}