@import "../../../../../assets/scss/variables";

.subscribe-tariffs {
  margin-top: 40px;
  padding: 0 35px;

  > p {
    color: $text;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.4rem;
  }

  &--toggle {
    margin-top: 55px;
    display: flex;

    .subscription--toggler {
      margin-right: 40px;

      .subscribe-plus svg {
        display: none;
      }
    }

    p {
      max-width: 680px;
    }
  }

  .subscription-list {
    margin-top: 50px;
  }
}