@import "../../../../assets/scss/variables";

.main-page .plugins {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1110px;
  margin: 200px auto;

  &--info {
    width: 100%;
    max-width: 505px;

    h3 {
      color: $text;
      font-family: $Montserrat;
      font-weight: bold;
      font-size: 4rem;
      line-height: 5.2rem;
    }

    p {
      margin-top: 40px;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    .browsers {
      margin-top: 20px;
      display: flex;
      align-items: center;
    }

    .browser--item {
      width: 42px;
      height: 42px;

      + .browser--item {
        margin-left: 14px;
      }

      &.chrome {
        background: url("./ic-chrome.svg") 50% 50% no-repeat;
      }

      &.yandex {
        background: url("./ic-yandex.svg") 50% 50% no-repeat;
      }

      &.firefox {
        background: url("./ic-firefox.svg") 50% 50% no-repeat;
      }

      &.opera {
        background: url("./ic-opera.svg") 50% 50% no-repeat;
      }
    }

    .btn-group {
      margin-top: 45px;

      .link-btn {

        + .link-btn {
          margin-left: 28px;
        }

        &.details {
          background-color: $blue;
          color: white;
        }

        &.subscribe {
          background-color: #e3e9ed;
          color: $text;
        }
      }
    }
  }
}