@import "../../../../assets/scss/variables";

.main-page .register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 803px;
  margin: 0 auto;
  background: url("./register-bg.jpg") 0 0 no-repeat;
  background-size: cover;

  &--desc {
    width: 100%;
    max-width: 550px;

    h4 {
      margin-bottom: 45px;
      max-width: 450px;
      color: white;
      font-family: $Montserrat;
      font-weight: bold;
      font-size: 4rem;
      line-height: 5.2rem;
    }

    p {
      color: white;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.4rem;

      + p {
        margin-top: 10px;
      }
    }

    ul {
      margin-top: 20px;

      li {
        padding-left: 10px;
        color: white;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.4rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 5px;
          background-color: white;
          border-radius: 50%;
        }

        + li {
          margin-top: 10px;
        }
      }
    }
  }

  &--form {
    margin-left: 90px;
    max-width: 330px;

    .agreement {
      margin-top: 28px;
    }

    .form-row.checkbox input[type="checkbox"] + label {
      color: white;

      a {
        color: $blue;
      }
    }

    .form-row.error {
      .error-msg {
        margin: 0;
        position: absolute;
        top: 9px;
        left: calc(100% + 10px);
        width: 100%;
        max-width: 244px;
        padding: 12px;
        background-color: $red;
        color: white;
        font-size: 1.4rem;
        line-height: 1.6rem;
        white-space: nowrap;
        border-radius: 3px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -6px;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 6px 6px 0;
          border-color: transparent $red transparent transparent;
        }
      }
    }

    .form-row.checkbox.error {
      .error-msg {
        top: -3px;
      }

      input[type="checkbox"] + label::before {
        border-color: $red;
      }
    }
  }
}