@import "../../../assets/scss/variables";

.contacts-page {
  width: 100%;
  max-width: 1150px;
  margin: 100px auto;
  padding: 0 20px;

  h1 {
    line-height: 5.2rem;
  }

  > p {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
  }

  .phone-email {
    margin-top: 65px;

    h2 {
      margin-bottom: 27px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2.8rem;
      line-height: 3.6rem;
    }

    p {
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.8rem;
    }

    .email {
      color: $blue;
    }

    .phone {
      color: $text;
    }
  }
}

@media screen and (max-width: 1024px) {
  .contacts-page {
    margin: 30px auto 70px;

    h1 {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .contacts-page {
    .form-row.textarea .symbols-counter {
      display: none;
    }

    .form-row.textarea {
      margin-bottom: 0;

      &.error .error-msg {
        position: static;
        margin-top: 12px;
      }
    }

    .contacts-form div.attach-file {
      display: block;
      margin-top: 10px;

      .file {
        margin-top: 24px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .contacts-page {
    margin: 30px auto 70px;

    .phone-email p + p {
      margin-top: 20px;
    }

    .contacts-form span.required {
      margin: 15px 0 30px;
    }

    .form-row .ui.selection.dropdown .menu {
        max-height: 180px;
    }
  }
}

@media screen and (max-width: 350px) {
  .contacts-page {
    margin: 30px auto 70px;

    .form-row .ui.selection.dropdown {
      padding-right: 12px;

      .dropdown.icon {
        right: 5px;
      }

      .default.text {
        font-size: 1.8rem;
      }

      .menu {
          max-height: 130px;
      }
    }
  }
}
