@import "../../../../../assets/scss/variables";

.page-profile .settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding: 24px 60px 50px 30px;
  background-color: #f3f6f8;

  &-block {
    display: flex;
    align-items: center;

    .settings--item {
      .title {
          margin-bottom: 3px;
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.1px;
      }

      .ui.selection.dropdown {
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 8px;
        border: 1px solid #4c4c4c;
        border-radius: 3px;

        .menu {
          margin: 0 -2px;
          min-width: calc(100% + 4px);
          width: calc(100% + 4px);

          > .item {
              padding-left: 8px !important; 
              padding-right: 8px !important; 
          }
        }

        &.active {
          border: 2px solid $blue;

          .menu {
            border: 2px solid $blue;
          }

          .dropdown.icon {
              transform: rotate(-180deg);
          }
        }

        .text,
        .default.text {
          font-size: 1.6rem;
          line-height: 2.4rem;
          letter-spacing: 0.1px;
        }

        .dropdown.icon {
          top: 19px;
          right: 9px;
          float: none;
          margin: 0;
          padding: 0;
          width: 11px;
          height: 7px;
          background: url("../ic-arr.svg") 0 0 no-repeat;
          transition: transform 0.3s;

          &::before {
            display: none;
          }
        }
      }

      &.round {
        width: 84px;
      }

      &.order {
          width: 255px;
      }

      &.links {
          padding-top: 30px;
      }

      + .settings--item {
        margin-left: 80px;
      }
    }
  }

  .save-btn {
      margin-top: 18px;
      max-width: 220px;
  }
}