@import '../../../../../../../assets/scss/variables';

.fork-params {
    width: 100%;

    h3 {
        margin-bottom: 15px;
        color: $text;
        font-size: 1.6rem;
        line-height: 1;
    }

    &--item {
        display: flex;
        align-items: center;

        + .fork-params--item {
            margin-top: 25px;
        }

        .form-row {
            max-width: 140px;

            input {
                padding: 0 8px;
                height: 48px;
            }

            + .form-row {
                margin: 0 0 0 40px;
            }
        }

        span {
            margin: 16px 0 0 10px;
            font-size: 1.6rem;
        }
    }
}