@import "../../../../assets/scss/variables";

.contacts-page .contacts-form {
  margin-top: 65px;
  max-width: 640px;

  h3 {
    margin-bottom: 27px;
    line-height: 3.6rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .required {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-left: 18px;
    color: #7f7f7f;
    font-size: 1.4rem;
    line-height: 1;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      background-color: $blue;
      border-radius: 50%;
    }
  }

  textarea {
    min-height: 312px;
  }

  .attach-file {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .desc {
      max-width: 320px;

      .file-text {
        display: inline-block;
        font-size: 1.8rem;
        line-height: 2.4rem;
        position: relative;

        > span {
          position: absolute;
          top: 0;
          left: calc(100% + 5px);
          color: #7f7f7f;
          white-space: nowrap;
        }
      }

      .notice {
        margin-top: 10px;
        color: #7f7f7f;
        font-size: 1.4rem;
        line-height: 1.4rem;
      }
    }

    .file {
      width: auto;

      input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        + label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 195px;
          height: 44px;
          background-color: white;
          color: $text;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.4rem;
          border-radius: 3px;
          border: 1px solid #b2b2b2;
          cursor: pointer;
          user-select: none;
          transition: background-color 0.2s, color 0.2s, border-color 0.2s;

          &:hover {
            background-color: $blue;
            color: white;
            border-color: $blue;
          }
        }
      }

      &.disabled input + label {
        background-color: #c9d1d6;
        color: white;
        border-color: #c9d1d6;
        pointer-events: none;

        &:hover {
          background-color: #c9d1d6;
          color: white;
          border-color: #c9d1d6;
        }
      }
    }
  }

  .files-list {
    margin-top: 35px;

    li {
      display: flex;
      align-items: center;
      padding-left: 16px;

      + li {
        margin-top: 20px;
      }

      .file-format {
        margin-left: 17px;
      }

      span {
        display: inline-block;
        margin-left: 14px;
        color: $text;
        font-size: 1.8rem;
        line-height: 2.4rem;
      }

      svg path {
        transition: fill 0.2s, stroke 0.2s;
      }

      .delete-btn:hover {
        svg path {
          fill: $blue;
          stroke: $blue;
        }

        + .file-format svg path {
          fill: $blue;
        }
      }
    }
  }

  .submit-btn {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    background-color: $blue;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.8rem;
  }
}