@import "../../../../assets/scss/variables";

.live-forks-calc-wide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  margin-top: 45px;
  padding: 0 30px 15px;

  .live-forks--calculator {
    padding: 0;

    &--tables table {
      td {
        border-top: 0;
      }

      tr:first-child td {
        border-top: 1px solid #e0e0e0;
      }
    }
  }
}