@import "../../../../../../assets/scss/variables";

.bookmaker-offices {
  &--item {
    border-top: 1px solid #e0e0e0;

    &:first-child {
      border-top: 0;
    }
  }

  .table {
    display: table;
    width: 100%;
  }

  .tr {
    display: table-row;
  }

  .th,
  .td {
    display: table-cell;
    vertical-align: middle;
  }

  .th {
    padding: 16px 0;
    color: #7f7f7f;
    font-size: 1.4rem;
    line-height: 1;
    text-align: left;

    &.toggler {
      width: 210px;
      padding-left: 66px;

      span {
        display: inline-block;
        margin-left: 3px;

        + span {
          margin-left: 18px;
        }
      }
    }

    &.bk {
      width: 140px;
    }

    &.bet-types {
      width: 145px;
    }

    &.rate-from,
    &.rate-to {
      width: 115px;
    }

    &.initiator {
      text-align: center;
    }

    &.clones {
      width: 280px;
    }
  }

  .td {
    height: 75px;
    text-align: left;

    &.toggler {
      width: 210px;
      padding-left: 66px;
    }

    &.bk {
      width: 140px;
      color: $blue;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.2;
    }

    &.bet-types {
      width: 145px;
      padding-left: 18px;

      .form-row {
        display: inline-block;
        width: auto;

        input[type="radio"] + label {
          display: block;
          width: 16px;
          height: 16px;

          &::before {
            top: 0;
            width: 16px;
            height: 16px;
            border: 1px solid #c9d1d6;
          }

          &::after {
            top: 4px;
            left: 4px;
          }
        }
      }

      .more-btn {
        display: inline-block;
        margin-left: 20px;
        width: 4px;
        height: 20px;
        background: url("./ic-more.svg") 0 0 no-repeat;
      }
    }

    &.rate-from,
    &.rate-to {
      width: 115px;

      .form-row {
        max-width: 84px;

        input {
          height: 48px;
          padding: 0 8px;
          font-size: 1.6rem;
        }
      }
    }

    &.initiator {
      .options-toggler {
        margin: 0 auto;
      }
    }

    &.clones {
      width: 280px;
      color: black;
      font-size: 1.4rem;
      line-height: 2.4rem;
      letter-spacing: 0.1px;

      span {
        opacity: 0.2;
      }
    }
  }

  &--item--params {
    padding: 30px 0 30px 66px;
    position: relative;

    .close-btn {
      position: absolute;
      top: 30px;
      right: 30px;
      display: flex;
      align-items: center;

      span {
        color: $blue;
        font-size: 12px;
        line-height: 1;
      }

      img {
        display: block;
        margin-left: 5px;
      }
    }

    h2 {
      margin: 0 0 30px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2rem;
      line-height: 1;
    }

    .enable-bet-types {
      display: flex;
      align-items: center;

      .switcher {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 24px;
        background-color: #d6e5ff;
        border-radius: 16px;
        position: relative;
        transition: background-color 0.3s;

        &::before {
          content: "";
          position: absolute;
          top: 2px;
          left: 2px;
          width: 20px;
          height: 20px;
          background-color: white;
          border-radius: 50%;
          transition: transform 0.3s;
          z-index: 2;
        }

        &.active {
          background-color: $blue;

          &::before {
            transform: translateX(16px);
          }
        }
      }

      span {
        margin-left: 18px;
        color: $text;
        font-size: 2rem;
      }
    }

    .bets-settings-wrapper {
        margin-top: 30px;
        grid-template-columns: repeat(5, 1fr);
    }
  }
}