.tarif-page {
  user-select: none;
  
  .notice {
    width: 100%;
    margin-top: 30px;
  
    p {
      color: #7f7f7f;
      font-size: 1.6rem;
      line-height: 2.2rem;
  
      + p {
        margin-top: 20px;
      }
    }
  }
}

.ui.button.login-modal-btn {
  position: fixed;
  bottom: 90px;
  right: 200px;
  max-width: 70px;
  width: 100%;
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 1.2rem;
  z-index: 100;
}

.ui.button.reg-modal-btn {
  position: fixed;
  bottom: 90px;
  right: 110px;
  max-width: 70px;
  width: 100%;
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 1.2rem;
  z-index: 100;
}

.ui.button.rec-modal-btn {
  position: fixed;
  bottom: 90px;
  right: 20px;
  max-width: 70px;
  width: 100%;
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 1.2rem;
  z-index: 100;
}

@media screen and (max-width: 420px) {
  .main-content.tarif-page {
    margin: 20px auto 40px;
    padding: 0 15px;

    .notice {
      margin-top: 42px;
    }
  }
}