@import "../../../assets/scss/variables";

.tarif-page {
  .back-link {
    width: 100%;
    max-width: 1150px;
    margin: 30px auto 0;
    padding: 0 20px;

    > a {
      color: #7f7f7f;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.4rem;

      &:hover {
        color: $blue;
      }
    }
  }

  .subscribe-block-wrapper {
    margin-top: 25px;
    width: 100%;
    max-width: 100%;
    background-color: $blue;
    overflow: hidden;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  }

  .subscribe-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1150px;
    min-height: 200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;

    &--desc {
      h1 {
        margin-bottom: 24px;
        color: white;
        line-height: 5.2rem;
      }

      p {
        color: white;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }

    &--price {
      padding-right: 130px;
      text-align: right;

      .ball {
        position: absolute;
        top: -17px;
        right: -195px;
        max-width: none;
        width: 300px;
        height: 260px;
      }

      .new {
        color: white;
        font-size: 9rem;
        font-weight: 300;
        line-height: 10.9rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -32px;
          transform: translateY(-50%);
          width: 22px;
          height: 46px;
          background: url("./ic-dollar-white.svg") 0 0 no-repeat;
        }
      }

      .prev {
        display: inline-block;
        color: #b2b2b2;
        font-weight: 500;
        font-size: 3.6rem;
        line-height: 4.4rem;
        text-decoration: line-through;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -15px;
          transform: translateY(-50%);
          width: 10px;
          height: 20px;
          background: url("./ic-dollar-gray.svg") 0 0 no-repeat;
        }
      }
    }
  }

  .subscribe--payment-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1150px;
    margin: 25px auto 0;
    padding: 0 20px;

    .left {
      p {
        color: $text;
        font-size: 2.8rem;
        font-weight: bold;
        line-height: 3.6rem;
      }
    }

    .right {
      display: flex;
      align-items: center;

      p {
        color: #7f7f7f;
        font-size: 1.2rem;
        line-height: 1.4rem;
        text-align: right;

        + img {
          margin-left: 10px;
        }
      }
    }
  }

  .payment-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 1150px;
    margin: 40px auto 10px;
    padding: 0 20px;
  }

  .payment--item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: white;
    color: #28465a;
    font-family: $Montserrat;
    font-weight: bold;
    font-size: 4rem;
    line-height: 5.2rem;
    border: 2px solid #e3e9ed;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: border-color 0.2s;

    &.processing::before {
      content: "";
      position: absolute;
      top: -8px;
      right: -10px;
      width: 34px;
      height: 34px;
      background: url("./ic-clock-light.svg") 0 0 no-repeat;
    }

    &:hover {
      border-color: $blue;
    }

    &.qiwi {
      background: white url("./logo-qiwi.svg") 50% 50% no-repeat;
    }

    &.yandex {
      background: white url("./logo-yandex.svg") 50% 50% no-repeat;
    }

    &.visa {
      background: white url("./logo-visa.svg") 50% 50% no-repeat;
    }

    &.neteller {
      background: white url("./logo-neteller.svg") 50% 50% no-repeat;
    }

    &.rbk {
      background: white url("./logo-rbk.svg") 50% 50% no-repeat;
    }

    &.webmoney {
      background: white url("./logo-webmoney.svg") 50% 50% no-repeat;
    }

    &.skrill {
      background: white url("./logo-skrill.svg") 50% 50% no-repeat;
    }

    &.pokupo {
      background: white url("./logo-pokupo.png") 50% 50% no-repeat;
    }

    &.onpay {
      background: white url("./logo-onpay.png") 50% 50% no-repeat;
    }
    &.sprypay {
      background: white url("./logo-sprypay.png") 50% 50% no-repeat;
    }
  }

  .mobile-notice {
    display: none;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 0 20px;

    img + p {
      margin-left: 10px;
    }

    p {
      color: #7f7f7f;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .tarif-page {
    .subscribe--payment-details {
      .left {
        max-width: 370px;
      }
    }

    &.operator .subscribe--payment-details .left {
      display: block;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 840px) {
  .tarif-page .payment-list {
    margin: 30px auto 35px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .tarif-page .subscribe-block--desc {
    max-width: 260px;

    h1 {
      margin-bottom: 13px;
    }
  }
}

@media screen and (max-width: 720px) {
  .tarif-page {
    .subscribe--payment-details {
      .left {
        max-width: 300px;
  
        p {
          br {
            display: none;
          }
  
          span {
            display: inline-block;
            margin-right: 5px;
  
            &::after {
              content: ".";
            }
          }
        }
      }
    }

    &.operator .subscribe--payment-details {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  .tarif-page {
    .subscribe--payment-details {
      display: block;

      .left {
        max-width: 100%;
      }

      .right {
        display: none;
      }
    }

    .mobile-notice {
      display: flex;
    }

    &.operator .mobile-notice {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .tarif-page {
    .subscribe-block {
      display: block;
      padding-top: 30px;

      &--desc {
        max-width: 100%;
      }

      &--price {
        margin-top: 50px;
        padding: 0 0 165px 32px;
        text-align: left;

        .ball {
          top: auto;
          bottom: -60px;
          right: -50px;
        }
      }
    }

    .payment-list {
      grid-template-columns: 1fr;
      grid-gap: 25px 0;
    }
  }
}