@import "../../../../assets/scss/variables";

.main-page .wiki {
  margin-top: 45px;
  padding: 195px 0;
  background-color: #f3f6f8;

  &--block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;

    &--description {
      width: 100%;
      max-width: 440px;

      h1 {
        line-height: 52px;
      }

      p {
        margin-top: 35px;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.4rem;
      }

      .check {
        margin-top: 12px;
        background-color: $blue;
        color: white;
        transition: box-shadow 0.2s;

        &:hover {
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        }
      }
    }

    &--video {
      width: 100%;
      max-width: 570px;
      height: 320px;
      position: relative;

      video {
        display: block;
        max-width: 100%;
        max-height: 320px;
        box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        outline: none;
      }

      .play-video-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -30%);
        display: block;
        width: 95px;
        height: 100px;
        background: url("./ic-play.png") 0 0 no-repeat;
        background-size: 100%;
        z-index: 2;

        &.playing {
            display: none;
        }
      }
    }
  }
}