@import "../../../../assets/scss/variables";

.main-page .sports {
  width: 100%;
  max-width: 1110px;
  margin: 120px auto;

  &-row {
    display: flex;
    justify-content: center;
    align-items: center;

    img + img {
      margin-left: 27px;
    }
  }

  &-info {
    width: 100%;
    max-width: 800px;
    margin: 40px auto;

    p {
      color: $text;
      font-size: 2.4rem;
      line-height: 3rem;
      text-align: center;
    }

    .sports-link {
      margin: 24px auto 0;
      background-color: $blue;
      color: white;
    }
  }
}