@import "../../../assets/scss/variables";

.contacts-sent {
  padding: 160px 0 80px;
  border-bottom: 12px solid #2bc800;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;

    .img img {
      display: block;
    }

    h1 {
      margin-top: 35px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2.8rem;
      line-height: 3.6rem;
    }

    p {
      margin-top: 27px;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    .back-link {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 337px;
      height: 44px;
      color: $text;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.4rem;
      border: 1px solid #b2b2b2;
      border-radius: 3px;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s;

      &:hover {
        color: white;
        background-color: $blue;
        border-color: $blue;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .contacts-sent {
    margin-bottom: 45px;
    padding: 70px 0;

    .wrapper {
      max-width: 620px;
    }
  }
}

@media screen and (max-width: 420px) {
  .contacts-sent {
    margin-bottom: 70px;
    padding-top: 30px;

    .wrapper {
      display: block;
      max-width: 100%;

      .img img {
        margin: 0 auto;
      }

      p,
      .back-link {
        margin-top: 32px;
      }

      .back-link {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}