@import "../../../../assets/scss/variables";

.live-forks--list {
  width: 100%;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  tr {
    background-color: white;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
        transform: translate3d(1px, 1px, 1px);
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);

        td {
            border-top-color: transparent;
        }
    }
  }

  tr:first-child td {
      border-top: 0;
  }

  td {
    height: 106px;
    text-align: center;
    border-top: 1px solid #94a3ac;
    transition: border-color 0.2s;
  }

  .td-percent {
    width: 106px;
    background-color: rgba(214, 229, 255, 0.33);

    .perc-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .percent {
      padding-left: 14px;
      color: $text;
      font-size: 2rem;
      font-weight: bold;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 0;
        width: 8px;
        height: 8px;
        background-color: #2bc800;
        border-radius: 50%;
      }

      > span {
        font-size: 1.6rem;
        font-weight: normal;
      }
    }

    .sport {
      margin-top: 15px;
      display: flex;
      align-items: center;

      span {
        margin-left: 2px;
        color: $text;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1;
      }
    }
  }

  .td-btns {
    width: 90px;

    .btn-group {
      flex-direction: column;
      justify-content: center;

      button + button {
        margin: 12px 0 0;
      }
    }
  }

  .td-provider {
    width: 72px;
    color: $blue;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;

    .provider + .provider {
      margin-top: 20px;
    }
  }

  .td-event {
    padding-left: 40px;
    text-align: left;

    .event {
      display: flex;
      align-items: center;

      + .event {
        margin-top: 20px;
      }

      .ev-copy {
        width: 14px;
        height: 14px;
        background: url("./ic-copy.svg") 0 0 no-repeat;
      }

      span {
        display: inline-block;
        margin-left: 10px;
        font-size: 1.4rem;
        line-height: 1.4rem;
      }

      .ev-part {
        color: $text;
        font-weight: 600;
      }

      .ev-name {
        color: #94a3ac;
      }

      .ev-score {
        color: $blue;
      }
    }
  }

  .td-bet {
    width: 60px;

    .bet {
      color: $text;
      font-size: 1.4rem;
      line-height: 2rem;

      + .bet {
        margin-top: 20px;
      }
    }
  }

  .td-dynamics {
    width: 95px;
    text-align: right;

    .fall {
      display: inline-block;
      padding-left: 20px;
      background: url("../LiveForksGroup/images/ic-arr-red.svg") 0 6px no-repeat;
      color: #eb5757;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 2rem;
    }

    .rise {
      display: inline-block;
      margin-top: 20px;
      padding-left: 20px;
      background: url("../LiveForksGroup/images/ic-arr-green.svg") 0 6px no-repeat;
      color: #27ae60;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 2rem;
    }
  }

  .td-close {
    width: 73px;

    .btn-close {
      width: 13px;
      height: 13px;
      background: url("../LiveForksCalculator/ic-close.svg") 0 0 no-repeat;
    }
  }
}