@import "../../../assets/scss/_variables.scss";

.footer-wrapper {
  width: 100%;
  max-width: 100%;
  margin-top: auto;
  background-color: #f3f6f8;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  min-height: 76px;
  margin: 0 auto;
  padding: 0 60px;

  &--copy {
    color: #7f7f7f;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  &--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 1100px;

    &--partnership,
    &--tos {
      display: flex;
      align-items: center;

      li + li {
        margin-left: 20px;
      }

      .footer--nav--sup-link {
        margin-left: 80px;
      }
    }
  }

  .f-link {
    color: #b2b2b2;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: -0.4px;
    transition: color 0.2s;

    &.partners {
      color: #4c4c4c;

      &:hover {
        color: $text;
      }
    }

    &:hover {
      color: #7f7f7f;
    }
  }
}

@media screen and (max-width: 1440px) {
  .footer .footer--nav {
    flex: 0 0 1000px;
  }
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1220px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    padding: 28px 20px;

    .footer--copy {
      order: 2;
      margin-top: 40px;
      width: 100%;
      text-align: center;
    }

    .footer--nav {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1080px) {
  .footer {
    .footer--nav {
      flex-basis: auto;

      &--tos {
        margin-left: 20px;

        .footer--nav--sup-link {
          margin-left: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .footer {
    justify-content: flex-start;
    align-items: flex-start;

    .footer--copy {
      order: 1;
      margin: 0;
      width: auto;
    }

    .footer--nav {
      align-items: flex-start;
      width: auto;
      order: 2;
      margin-left: 70px;

      &--partnership {
        display: block;

        li + li {
          margin: 24px 0 0;
        }
      }

      &--tos {
        display: block;
        margin-left: 100px;

        li + li {
          margin: 24px 0 0;
        }

        .footer--nav--sup-link {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .footer {
    .footer--copy {
      order: 2;
      width: 100%;
      margin-top: 40px;
    }

    .footer--nav {
      width: 100%;
      order: 1;
      justify-content: center;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 520px) {
  .footer .footer--nav {
    justify-content: space-between;

    &--tos {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 420px) {
  .footer {
    display: block;
    padding-top: 40px;
    padding-bottom: 100px;

    .footer--copy {
      margin-top: 0;
      text-align: left;
    }

    .footer--nav {
      display: block;
      margin-top: 35px;

      &--partnership li + li {
        margin-top: 15px;
      }
  
      &--tos {
        margin-top: 50px;

        li + li {
          margin-top: 15px;
        }
      }
    }
  }
}