@import "../../../assets/scss/_variables.scss";

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: white;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: transform 0.5s; 
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  min-height: 80px;
  margin: 0 auto;
  padding: 0 40px 0 65px;

  &--main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &--logo {
    width: 187px;
  }

  &--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 1040px;
    height: 80px;
  }

  .mobile-btn {
    display: none;
    margin-left: 90px;
    width: 30px;
    height: 30px;
    background: url("./ic-menu.svg") 0 0 no-repeat;

    &.toggled {
      background: url("./ic-menu-expanded.svg") 0 0 no-repeat;
    }
  }
}

@media screen and (max-width: 1380px) {
  .header--nav {
    flex: 0 0 960px;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1220px) {
  .header {

    .header--nav {
      flex: 0 0 auto;

      &--lang,
      &--auth,
      &--profile {
        display: none;
      }
    }

    .mobile-btn {
      display: block;
    }
  }
}

@media screen and (max-width: 1000px) {
  .header .header--nav--main li:last-child {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .header .header--nav--main li:nth-last-child(2) {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .header .mobile-btn {
    margin-left: 60px;
  }
}

@media screen and (max-width: 768px) {
  .header-wrapper.expanded {
    height: 100%;
  }

  .header {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

    .header--nav {
      display: none;
    }

    .mobile-btn.toggled {
      background: url("./ic-menu-expanded-close.svg") 0 0 no-repeat;
    }
  }
}