@import "../../../../assets/scss/variables";

.subscription-list {
  width: 100%;
  margin-top: 60px;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }

  &--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 255px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border: 3px solid transparent;
    position: relative;
    transition: background-color 0.2s, box-shadow 0.2s, border 0.2s, transform 0.5s;

    &.best-offer {
      border-color: #d6e5ff;

      &::before {
        content: "";
        position: absolute;
        top: 26px;
        left: -3px;
        width: 47px;
        height: 47px;
        background: #d6e5ff url("./ic-star.svg") 50% 50% no-repeat;
        border-radius: 8px 0 20px 0;
        transition: background 0.2s;
      }
    }

    .icon {
      width: 60px;
      height: 60px;
      margin: 0 auto;

      svg {
        display: block;
        margin: 0 auto;

        path {
          transition: fill 0.2s, fill-opacity 0.2s, stroke 0.2s;
        }
      }
    }

    .date {
      margin-top: 15px;
      color: $text;
      font-size: 2.4rem;
      line-height: 3rem;
      transition: color 0.2s;
    }

    .pause {
      margin-top: 4px;
      color: #4c4c4c;
      font-size: 1.8rem;
      line-height: 2.4rem;
      transition: color 0.2s;
    }

    .price {
      margin-top: 30px;
      text-align: center;

      .dollars {
        display: inline-block;
        color: $text;
        font-size: 6.8rem;
        line-height: 5.2rem;
        letter-spacing: -4px;
        text-align: center;
        position: relative;
        transition: color 0.2s;

        .dollar-sign {
          position: absolute;
          top: 50%;
          left: -26px;
          margin-top: -16.5px;
          width: 16px;
          height: 33px;

          svg {
            display: block;

            path {
              transition: fill 0.2s;
            }
          }
        }
      }

      .rubles {
        margin-top: 8px;
        color: $text;
        font-size: 1.8rem;
        line-height: 2.4rem;
        text-align: center;
        transition: color 0.2s;
      }

      .of-price {
        margin-top: 27px;
        color: $red;
        font-size: 18px;
        line-height: 24px;
        transition: color 0.2s;
      }
    }

    .checkout-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;
      max-width: 195px;
      margin: 26px auto 0;
      background-color: $blue;
      color: white;
      font-size: 1.6rem;
      line-height: 1.4rem;
      border-radius: 3px;
      transition: color 0.2s, background-color 0.2s;
    }
  }
}

@media screen and (min-width: 1025px) {
  .subscription-list--item:hover {
    background-color: $blue;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    transform: translate3d(0, 3px, 1px);

    .icon {
      &.card-1 svg {
        .s-black {
          fill-opacity: 0;
        }

        .s-white {
          fill: white;
        }
      }

      &.card-2 svg {
        .s-red,
        .s-black {
          fill: white;
        }

        .s-white {
          fill-opacity: 0;
        }
      }

      &.card-3 svg {
        .s-black {
          fill: white;
        }

        .s-white,
        .s-gray {
          fill-opacity: 0;
        }

        .s-stroke {
          fill-opacity: 0;
          stroke: white;
        }
      }

      &.card-4 svg {
        .s-black {
          fill: white;
        }

        .s-orange,
        .s-white {
          fill-opacity: 0;
        }
      }
    }

    .date,
    .pause,
    .price .dollars,
    .price .rubles,
    .price .of-price {
      color: white;
    }

    .price .dollars .dollar-sign svg path {
      fill: white;
    }

    .checkout-btn {
      color: $blue;
      background-color: white;
    }
  }

  .subscription-list--item.best-offer:hover {
    border-color: transparent;

    &::before {
      background-color: white;
    }
  }
}

@media screen and (max-width: 1024px) {
  .subscription-list--item {
    padding: 20px 10px 30px;

    &.active {
      background-color: $blue;
      box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
      transform: translate(1px, 1px, 1px);

      .icon {
        &.card-1 svg {
          .s-black {
            fill-opacity: 0;
          }

          .s-white {
            fill: white;
          }
        }

        &.card-2 svg {
          .s-red,
          .s-black {
            fill: white;
          }

          .s-white {
            fill-opacity: 0;
          }
        }

        &.card-3 svg {
          .s-black {
            fill: white;
          }

          .s-white,
          .s-gray {
            fill-opacity: 0;
          }

          .s-stroke {
            fill-opacity: 0;
            stroke: white;
          }
        }

        &.card-4 svg {
          .s-black {
            fill: white;
          }

          .s-orange,
          .s-white {
            fill-opacity: 0;
          }
        }
      }

      .date,
      .pause,
      .price .dollars,
      .price .rubles,
      .price .of-price {
        color: white;
      }

      .price .dollars .dollar-sign svg path {
        fill: white;
      }

      .checkout-btn {
        color: $blue;
        background-color: white;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .subscription-list ul {
    grid-template-columns: repeat(2, 255px);
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .subscription-list ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .subscription-list {
    display: none;
  }
}