.hint-box {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 275px;
  padding: 12px;
  background-color: #2e4658;
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.8rem;
  border-radius: 3px;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: -1;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0 0 12px 0;
    padding: 0 !important;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.6rem;
  }

  p {
    color: white;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.8rem;
  }

  &.bottom {
    top: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6.5px 6px 6.5px;
      border-color: transparent transparent #2e4658 transparent;
    }
  }

  &.top {
    bottom: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6.5px 0 6.5px;
      border-color: #2e4658 transparent transparent transparent;
    }
  }

  &.right {
    top: 50%;
    left: calc(100% + 12px);
    transform: translateY(-50%);
    width: 320px;
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -6px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.5px 6px 6.5px 0;
      border-color: transparent #2e4658 transparent transparent;
    }
  }

  &.left {
    top: 50%;
    right: calc(100% + 12px);
    transform: translateY(-50%);
    width: 320px;
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -6px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.5px 0 6.5px 6px;
      border-color: transparent transparent transparent #2e4658;
    }
  }
}