@import "../../../../assets/scss/_variables.scss";

.header--nav--main {
  display: flex;
  align-items: center;

  li {
    position: relative;
    
    &:hover a {
      color: #b2b2b2;
    }

    &.active {
      a {
        color: $text;

        &::before {
          background-color: $blue;
        }
      }

      &:hover a {
        background-color: transparent;
      }
    }
  }

  .tariffs:hover .hint-box {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }

  a {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 15px;
    color: #b2b2b2;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4rem;
    transition: background-color 0.2s, color 0.2s;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 30px);
      height: 3px;
      background-color: transparent;
      transition: background-color 0.3s;
    }
  }
}

@media screen and (min-width: 1025px) {
  .header--nav--main li:hover a {
    background-color: #f3f6f8;
    color: $text;
  }
}

@media screen and (max-width: 1220px) {
  .header--nav--main li.active a::before {
    display: none;
  }
}