.main-page {
    padding-top: 80px;

    .footer-wrapper {
        background-color: #212121;
    }

    .footer {
        &--copy,
        .f-link.partners {
            color: #F3F6F8;
        }
        .f-link:hover {
            color: #F3F6F8;
        }
    }
}