@import "../../../../../assets/scss/variables";

.page-profile .profile-subscription--table {
  width: 100%;
  margin: 48px auto 0;

  h4 {
    margin-bottom: 4px;
    padding: 0 35px;
    color: $text;
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .sub-grid-top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-top: 1px solid #e0e0e0;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 57px;
      color: #7f7f7f;
      font-size: 1.4rem;
      line-height: 1;
      text-align: center;
    }
  }

  .sub-grid-bottom .row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 24px 0;
      color: $text;
      font-size: 1.8rem;
      line-height: 2.4px;
      border-top: 1px solid #e0e0e0;
    }
  }

  .table-mobile {
    display: none;
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;

    + .table-mobile {
      margin-top: 40px;
    }

    td {
      padding: 16px 0;

      &.title {
        width: 40%;
        color: #7f7f7f;
        font-size: 1.4rem;
        line-height: 1.4rem;
        text-align: left;
      }

      &.info {
        width: 60%;
        color: $text;
        font-size: 1.8rem;
        line-height: 2.4rem;
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .page-profile .profile-subscription--table {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1180px) {
  .page-profile .profile-subscription--table {
    .sub-grid-top,
    .sub-grid-bottom .row {
      grid-template-columns: repeat(5, 1fr);

      .title.empty,
      .text.empty {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-profile .profile-subscription--table {
    h4 {
      padding: 0;
    }

    .sub-grid-bottom .row .text {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 720px) {
  .page-profile .profile-subscription--table .sub-grid-bottom .row .text {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  .page-profile .profile-subscription--table {
    .sub-grid-bottom,
    .sub-grid-top {
      display: none;
    }

    .table-mobile {
      display: table;
    }
  }
}