.text-page {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 15px;

  > h1 {
    margin-bottom: 30px;
    line-height: 5.2rem;

  }

  p {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  a {
    color: $blue;
    font-weight: 600;
  }

  &--item {
    margin-top: 65px;

    h2 {
      margin-bottom: 25px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 2.8rem;
      line-height: 3.6rem;
    }

    p + p {
      margin-top: 20px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      &.pad-list {
        display: block;
        padding-left: 45px;

        li {
          width: auto;
          margin-bottom: 20px;

          + li {
            margin-left: 0;
          }
        }
      }

      &.companies-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-gap: 20px 30px;
      }

      + p {
        margin-top: 30px;
      }

      li {
        padding-left: 20px;
        font-size: 1.8rem;
        line-height: 2.4rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 9px;
          left: 0;
          width: 6px;
          height: 6px;
          background-color: $text;
          border-radius: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .text-page {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 540px) {
  .text-page h1 {
    word-wrap: break-word;
  }
}

@media screen and (max-width: 420px) {
  .text-page {
    &--item ul {
      &.companies-list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }

      &.pad-list {
        padding-left: 0;
      }
    }
  }
}