@import "../../../assets/scss/variables";

.page-wrapper.scrolling .header-wrapper {
  transform: translate3d(0, -100%, 0);
}

.page-profile {
  width: 100%;
  max-width: 1190px;
  margin: 50px auto;

  h1 {
    margin-bottom: 30px;
    padding: 0 35px;
  }

  .ui.tabular.menu {
    min-height: auto;
    padding: 0 35px;
    border: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;

    .item {
      padding: 0;
      color: $text;
      line-height: 2.8rem;
      border: 0;
      transition: color 0.3s;

      &:last-child {
        padding-right: 20px;
      }

      &:hover {
        color: $blue;
      }

      + .item,
      + .active.item {
        margin-left: 32px;
      }

      &.active {
        margin: 0;
        background: none;
        color: $blue;
        border: 0;
        border-radius: 0 !important;
      }
    }
  }

  .ui.tabular.menu::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
  }

  .ui.attached.segment {
    background: none;
    padding: 0;
    border: 0;
    border-radius: 0;
  }

  .ui.tabular.menu + .attached:not(.top).segment,
  .ui.tabular.menu+.attached:not(.top).segment+.attached:not(.top).segment {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .page-profile {
    margin-top: 35px;

    .ui.tabular.menu {
      padding: 0 20px;
    }

    h1 {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 330px) {
  .page-profile h1 {
    font-size: 3.6rem;
  }
}