@import "../../../../assets/scss/variables";

.page-profile .profile-subscription {
  &-top {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 35px;
  }

  &--active,
  &--inactive {
    width: 100%;
    max-width: 540px;
    padding: 32px;
    border-radius: 10px;
    border: 2px solid $blue;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

    .btn-group {
      margin-top: 50px;
      justify-content: space-between;

      button + button {
        margin-left: 0;
      }
    }

    &.paused {
      border-color: #ffc000;
    }

    h2 {
      margin-bottom: 8px;
      color: $blue;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2.8rem;
      font-weight: bold;
      line-height: 3.6rem;
    }

    .plan {
      color: black;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.8rem;
    }

    .till {
      display: flex;
      align-items: center;
      margin-top: 5px;
      color: $text;
      font-size: 1.8rem;
      line-height: 2.4rem;

      span {
        display: inline-block;
        margin-left: 5px;
        padding: 6px 15px;
        color: #2bc800;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        border-radius: 38px;
        border: 2px solid #e2e8ec;
      }
    }

    p {
      margin-top: 27px;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    .prolong-btn {
      max-width: 180px;
    }

    .subscribe-plus-btn {
      height: 52px;
      font-weight: 600;
    }
  }

  &--inactive {
    border: 0;

    h2 {
      margin-bottom: 16px;
      color: $text;
    }

    .plan {
      display: flex;
      align-items: center;

      span {
        margin-left: 16px;
      }
    }

    .btn-group {
      margin-top: 24px;

      .now {
        max-width: 215px;
      }

      .tariff {
        height: 52px;
        font-weight: 600;
      }
    }

    p {
      margin-top: 48px;
    }
  }

  &--stop {
    width: 100%;
    max-width: 535px;

    .subscription-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .subscription--item {
      width: 100%;
      max-width: 255px;
      height: 166px;
      padding: 20px;
      background: url("./ic-check.svg") 89% 17% no-repeat;
      border: 2px solid #f3f6f8;
      border-radius: 10px;

      h3 {
        margin-bottom: 4px;
        color: #b2b2b2;
        font-size: 2rem;
        line-height: 2.8rem;
      }

      span {
        color: #7f7f7f;
        font-size: 1.2rem;
        line-height: 2.4rem;
        letter-spacing: 0.1px;
      }

      .since {
        margin-top: 23px;
        color: black;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0.1px;
      }

      .activate-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 48px;
        color: $text;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.4rem;
        border-radius: 3px;
        border: 1px solid #b2b2b2;
        transition: background-color 0.2s, border-color 0.2s, color 0.2s;

        &:hover {
          color: white;
          background-color: $blue;
          border-color: $blue;
        }
      }

      &.activate {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

        h3 {
          color: $blue;
        }
      }

      &.resume {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
        border: 1px solid #2bc800;

        h3 {
          color: $text;
        }
      }
    }

    p {
      margin-top: 48px;
      color: $text;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }
}

.ui.modal.sub-plus {
  max-width: 820px;
  padding: 40px;

  .subscribe-plus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

    &--image {
      height: 100%;
      background: url("./rocket.png") 50% 50% no-repeat;
    }

    &--info {
      h4 {
        font-size: 2.8rem;
        line-height: 3.6rem;
      }

      .date {
        margin-top: 30px;

        &.new {
          padding-bottom: 24px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }

        p {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }

        span {
          color: $text;
          font-size: 1.8rem;
          font-weight: bold;
          line-height: 2.4rem;
        }
      }

      h5 {
        margin-top: 30px;
        font-size: 1.8rem;
        line-height: 2.8rem;
      }

      ul {
        margin-top: 12px;

        li {
          padding-left: 28px;
          background: url("./ic-check.svg") 0 5px no-repeat;
          color: black;
          font-size: 1.6rem;
          line-height: 2.4rem;
          letter-spacing: 0.1px;

          + li {
            margin-top: 5px;
          }
        }
      }

      .btn {
        margin-top: 40px;
      }

      .text-btn {
        display: block;
        margin: 20px auto 0;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .page-profile .profile-subscription {
    justify-content: flex-start;

    &--active,
    &--inactive {
      max-width: 48%;

      .btn-group {
        display: block;

        button + button {
          margin-top: 20px;
        }
      }
    }

    &--stop {
      max-width: 48%;
      margin-left: 4%;

      .subscription-block {
        display: block;
      }

      .subscription--item {
        max-width: 100%;
        height: auto;
        background: none;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 20px;
          right: 20px;
          background: url("./ic-check.svg") 0 0 no-repeat;
          width: 16px;
          height: 12px;
        }

        &.activate::before {
          display: none;
        }

        + .subscription--item {
          margin-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-profile {
    .profile-subscription-top {
      padding: 0 20px;
    }

    .subscribe-tariffs--toggle {
      margin-top: 20px;
      flex-wrap: wrap;

      .subscription--toggler {
        margin: 20px 0 0;
      }

      p {
        order: -1;
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;

        br {
          display: none;
        }
      }
    }
    .subscribe-tariffs {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 800px) {
  .page-profile .profile-subscription--active .till {
    display: block;

    span {
      margin: 5px 0 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .page-profile {
    .profile-subscription-top {
      display: block;
    }

    .profile-subscription {
      &--active,
      &--inactive {
        max-width: 100%;
      }

      &--stop {
        max-width: 100%;
        margin: 30px 0 0;
      }
    }

    .subscribe-tariffs--toggle .subscription--toggler {
      width: 100%;
      max-width: 320px;

      .subscribe,
      .subscribe-plus {
        width: 50%;
      }

      .slider {
        width: calc(50% - 4px);
        left: 50%;
      }

      &.active .slider {
        left: 4px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .page-profile {
    .profile-subscription {
      &--active,
      &--inactive {
        padding: 20px;

        .btn-group {
          button {
            width: 100%;
          }

          .now,
          .prolong-btn {
            max-width: 100%;
          }
        }
      }
    }
  }
}