@import "../../../../assets/scss/variables";

.live-forks--side--filter {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 295px;
  height: 100%;
  padding: 20px 20px 20px 30px;
  background-color: #fbfbfb;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  overflow-y: auto;
  z-index: 6;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      margin: 0;
      font-size: 2.4rem;
      line-height: 3.2rem;
      letter-spacing: -0.1px;
    }

    .btn-add {
      width: 44px;
      height: 44px;
      background: $blue url("./ic-close.svg") 50% 50% no-repeat;
    }
  }

  .list {
    margin-top: 30px;

    li + li {
        margin-top: 20px;
    }

    .form-row.checkbox {
      input[type="checkbox"] + label {
        display: block;
        padding: 0;

        span {
          display: inline-block;
          padding: 4px 8px;
          background: #f0f0f1;
          color: #4d4d4d;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 2rem;
          border-radius: 6px;
        }

        &::before {
          left: auto;
          top: 2px;
          right: 0;
          transform: translateY(0);
          width: 40px;
          height: 24px;
          background: $blue;
          border-radius: 16px;
          border: 0;
        }

        &::after {
          content: "";
          position: absolute;
          top: 4px;
          right: 2px;
          width: 20px;
          height: 20px;
          background-color: white;
          border-radius: 50%;
          z-index: 2;
          transition: transform 0.3s;
        }
      }

      input[type="checkbox"]:checked + label {
        &::before {
          background: #d6e5ff;
        }

        &::after {
          transform: translateX(-16px);
        }
      }

      &.red input[type="checkbox"] + label span {
        color: #6b2117;
        background-color: #fde7e0;
      }

      &.blue input[type="checkbox"] + label span {
        color: #0065f2;
        background-color: #e0ecfd;
      }

      &.green input[type="checkbox"] + label span {
        color: #27ae60;
        background-color: rgba(39, 174, 96, 0.1);
      }
    }
  }
}