@import "../../../../../assets/scss/variables";

.live-forks--filter--settings {
  .ui.accordion .accordion {
    margin: 0;
    background-color: white;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    position: relative;

    &.it-1 {
      z-index: 3;
    }

    &.it-2 {
      z-index: 2;
    }

    &.it-3 {
      z-index: 1;
    }
  }

  .ui.accordion .title {
    width: 100%;

    .acc--item--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1100px;
      height: 92px;
      margin: 0 auto;

      h2 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 2rem;
      }

      span {
        color: $blue;
        font-size: 1.2rem;
      }
    }
  }

  .ui.accordion .content {
    width: 100%;

    .acc--item--content {
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;

      &.settings {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;

        .left {
          width: 350px;
        }

        .right {
          width: 625px;
          padding-right: 25px;
        }
      }

      &.bookmakers {
        width: 100%;
        max-width: 1190px;
        margin: 0 auto;
        padding-bottom: 30px;
      }
    }
  }
}