@import "../../../../assets/scss/variables";

.live-forks--side--hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 295px;
  height: 100%;
  padding: 30px 24px 30px 30px;
  background-color: #fbfbfb;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  overflow-y: auto;
  z-index: 6;

  h4 {
    margin: 0;
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: -0.1px;
  }

  .list {
    margin-top: 30px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      + li {
        margin-top: 20px;
      }
    }

    .title {
      display: flex;
      align-items: center;

      span {
        color: $text;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1;
      }

      .ui.label {
        margin: 0 0 0 10px;
        background-color: #e0ecfd;
        padding: 5px 8px;
        color: $blue;
        font-size: 1.4rem;
        border-radius: 6px;
      }
    }

    .btn-delete {
      width: 17px;
      height: 20px;
      background: url("./ic-delete.svg") 0 0 no-repeat;
    }
  }
}