@import "../../../../assets/scss/variables";

.tarif-page .subscription {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &--title {
    margin-right: 20px;

    h1 + p {
      margin-top: 4px;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }
}

.subscription--toggler {
  display: flex;
  align-items: center;
  width: 350px;
  height: 50px;
  background-color: #f3f6f8;
  border-radius: 29.5px;
  position: relative;
  cursor: pointer;

  &.active {
    .slider {
      left: 4px;
    }

    .subscribe {
      color: $text;

      &:hover {
        color: $text;
      }
    }

    .subscribe-plus {
      span {
        color: #b2b2b2;
      }

      svg path {
        fill-opacity: 0;
        stroke-opacity: 1;
      }
    }

    .subscribe-plus:hover span {
      color: #7f7f7f;
    }
  }

  .slider {
    position: absolute;
    top: 4px;
    left: 175px;
    width: 171px;
    height: 42px;
    background-color: white;
    border-radius: 21px;
    z-index: 1;
    transition: left 0.5s;
  }

  .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 42px;
    color: #b2b2b2;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4rem;
    transition: color 0.3s;
    position: relative;
    z-index: 2;

    &:hover {
      color: #7f7f7f;
    }
  }

  .subscribe-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 42px;
    text-align: center;
    position: relative;
    z-index: 2;

    span {
      color: $text;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.4rem;
      user-select: none;
      transition: color 0.3s;
    }

    svg {
      margin-left: 11px;

      path {
        transition: fill-opacity 0.5s, stroke-opacity 0.5s;
        stroke-opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .tarif-page {
    .subscription {
      align-items: flex-end;
    }

    .subscription--toggler {
      width: 320px;
      flex-basis: 320px;

      .slider {
        width: 156px;
        left: 160px;
      }

      .subscribe,
      .subscribe-plus {
        width: 160px;

        svg {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .tarif-page .subscription {
    display: block;

    &--title {
      margin-right: 0;

      h1 + p {
        margin-top: 12px;
      }
    }

    &--toggler {
      margin-top: 25px;
      width: 100%;
      max-width: 320px;

      .subscribe,
      .subscribe-plus {
        width: 50%;
      }

      .slider {
        width: calc(50% - 4px);
        left: 50%;
      }
    }
  }
}