@import "../../../../assets/scss/variables";

.main-page .features-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  margin: 40px auto 200px;

  li {
    width: 100%;
    max-width: 350px;

    img {
      display: block;
    }

    .title {
      margin-top: 65px;
      padding-bottom: 7px;
      color: $text;
      font-size: 24px;
      line-height: 30px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 46px;
        height: 3px;
        background-color: $blue;
        border-radius: 10px;
      }
    }

    .text {
      margin-top: 24px;
      color: $text;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    .btn {
      margin-top: 45px;
      background-color: $blue;
      color: white;
    }
  }
}