@import "../../../../assets/scss/variables";

.page-profile .profile-currency {
  &--toggler {
    padding-left: 35px;

    &.form-row.checkbox input[type="checkbox"] + label {
      font-weight: 600;
    }
  }

  &--tables {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    table {
      border-collapse: collapse;
    }

    tr {
      background-color: #fbfbfb;

      &.active {
        .td-rate input {
          color: rgba(0, 0, 0, 0.2);
          border-color: #e3e9ed;
          pointer-events: none;
        }
      }
    }

    thead tr {
      background: none;
    }

    tbody tr {
      border-top: 1px solid #e0e0e0;
    }

    th {
      padding: 10px 0;
      color: rgba(18, 18, 18, 0.4);
      font-size: 1.2rem;
      line-height: 2rem;
      text-align: center;
    }

    .th-currency {
      text-align: left;
      padding-right: 10px;
      padding-left: 40px;
    }

    td {
      height: 64px;
    }

    .td-currency {
      padding-left: 40px;
      color: $blue;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
    }

    .td-default {
      .form-row {
        text-align: center;

        &.radio input[type="radio"] + label {
          width: 18px;
          height: 18px;
          line-height: 1;
        }
      }
    }

    .td-rate {
      width: 130px;

      input {
        width: 128px;
        height: 48px;
        padding: 0 13px 0 5px;
        background-color: #f9f9f9;
        color: rgba(0, 0, 0, 0.4);
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0.1px;
        text-align: right;
        border-radius: 3px;
        border: 1px solid #4c4c4c;
      }
    }

    .td-desc {
      width: 247px;
      padding-left: 25px;
      padding-right: 25px;
      font-size: 1.4rem;
      line-height: 2.4rem;
      letter-spacing: 0.1px;
    }
  }
}

@media screen and (max-width: 1240px) {
  .page-profile .profile-currency {
    &--tables {
      padding: 0 20px;
    }

    &--toggler {
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-profile .profile-currency--tables {
    display: block;

    .currency-table {
      width: 100%;

      .td-currency {
        width: 145px;
      }

      .td-default {
        width: 100px;
      }

      .td-desc {
        width: auto;
      }

      + .currency-table thead {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .page-profile .profile-currency--tables .currency-table {
    .td-currency,
    .th-currency {
      width: 80px;
      padding-left: 20px;
    }

    .td-rate {
      width: auto;

      input {
        width: 100%;
        min-width: 110px;
        padding: 0 5px;
      }
    }

    .th-desc,
    .td-desc {
      display: none;
    }
  }
}