@import "../../../../assets/scss/variables";

.page-profile .profile-bookmakers {
  .table-bookmakers-head {
    position: sticky;
    top: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: white;
    z-index: 15;

    .tr {
      display: table-row;
    }

    .th {
      display: table-cell;
      vertical-align: middle;
      padding: 15px 0;
      color: #7f7f7f;
      font-size: 1.4rem;
      line-height: 1.4rem;

      &.bk {
        width: 165px;
        padding-left: 40px;
      }

      &.link {
        width: 238px;
        padding-left: 30px;
      }

      &.currency,
      &.rounding,
      &.commission,
      &.max {
        width: 116px;
        padding-left: 30px;
      }

      &.clones {
        text-align: center;
      }
    }
  }

  .table-bookmakers-body {
    display: table;
    width: 100%;
    table-layout: fixed;

    .tr {
      display: table-row;
    }

    .td {
      display: table-cell;
      vertical-align: middle;
      padding: 14px 0;
      border-top: 1px solid #e0e0e0;

      .mobile-label {
        display: none;
        margin-bottom: 8px;
        color: #7f7f7f;
        font-size: 1.4rem;
        line-height: 1;
      }

      &.bk {
        width: 165px;
        padding-right: 5px;
        color: $blue;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.4rem;

        > span {
          padding-left: 40px;
        }

        .ui.selection.dropdown {
          padding: 18px 0 18px 40px;
          min-height: auto;
          box-shadow: none;
          border: 1px solid transparent;

          .text {
            color: $blue;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.4rem;
          }

          .menu {
            border: 1px solid #f3f6f8;
            border-top-color: transparent;
            box-shadow: none;
            border-radius: 0 0 10px 10px;

            > .item {
              padding: 18px 0 18px 40px !important;
              border: 0;

              span {
                color: #5e7483;
                line-height: 1;
              }

              &.selected {
                background: none;

                span {
                  color: $blue;
                }
              }
            }
          }

          > .dropdown.icon {
            top: 22px;
            right: auto;
            left: 15px;
            float: none;
            margin: 0;
            padding: 0;
            width: 11px;
            height: 7px;
            background: url("./ic-arr.svg") 0 0 no-repeat;
            transition: transform 0.3s;

            &::before {
              display: none;
            }
          }

          &.active {
            border-top-color: #f3f6f8;
            border-right-color: #f3f6f8;
            border-left-color: #f3f6f8;
            border-radius: 10px 10px 0 0 !important;

            > .dropdown.icon {
              transform: rotate(-180deg);
            }
          }
        }
      }

      &.link {
        width: 238px;

        input {
          height: 48px;
          padding: 0 7px;
          color: #b2b2b2;
          font-size: 2rem;
          line-height: 2.4rem;
          transition: font-size 0.2s;

          &:focus {
            color: black;
            font-size: 1.6rem;
            letter-spacing: 0.1px;
          }
        }
      }

      &.currency,
      &.rounding,
      &.commission,
      &.max {
        width: 116px;
        padding-left: 30px;
      }

      &.currency,
      &.rounding {
        .ui.selection.dropdown {
          display: flex;
          align-items: center;
          height: 48px;
          padding: 0 8px;
          border: 1px solid #4c4c4c;
          border-radius: 3px;

          .menu {
            margin: 0 -2px;
            min-width: calc(100% + 4px);
            width: calc(100% + 4px);
          }

          &.active {
            border: 2px solid $blue;

            .menu {
              border: 2px solid $blue;

              > .item {
                padding-left: 8px !important;
                padding-right: 8px !important;
              }
            }

            .dropdown.icon {
              transform: rotate(-180deg);
            }
          }

          .text,
          .default.text {
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: 0.1px;
          }

          .dropdown.icon {
            top: 19px;
            right: 9px;
            float: none;
            margin: 0;
            padding: 0;
            width: 11px;
            height: 7px;
            background: url("./ic-arr.svg") 0 0 no-repeat;
            transition: transform 0.3s;

            &::before {
              display: none;
            }
          }
        }
      }

      &.commission input,
      &.max input {
        height: 48px;
        padding: 0 15px;
        font-size: 1.6rem;

        &.filled {
          border-color: #4c4c4c;
        }

        &.error {
          color: $red;
          font-weight: bold;
          border: 2px solid $red;
        }
      }

      &.clones {
        padding-left: 40px;
        color: black;
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.1px;

        .empty {
          color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .page-profile .profile-bookmakers {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1080px) {
  .page-profile .profile-bookmakers {
    .settings {
      padding-right: 30px;
    }

    .settings-block  .settings--item + .settings--item {
      margin-left: 60px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-profile .profile-bookmakers {
    .table-bookmakers-head .th.clones,
    .table-bookmakers-body .td.clones {
      display: none;
    }

    .table-bookmakers-head .th {
      &.link {
        width: auto;
      }
    }

    .table-bookmakers-body .td {
      &.link {
        width: auto;
      }
    }

    .settings {
      flex-wrap: wrap;

      .settings-block {
        width: 100%;
      }

      .save-btn {
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .page-profile .profile-bookmakers {
    .table-bookmakers-head {
      display: none;
    }

    .table-bookmakers-body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;

      .tr {
        display: block;
        padding: 30px;
        border: 1px solid #e0e0e0;
      }

      .td {
        display: block;
        padding: 0;
        border: 0;

        + .td {
          margin-top: 24px;
        }

        .mobile-label {
          display: block;
        }

        &.bk {
          width: auto;
          padding: 0;

          .ui.selection.dropdown {
            padding-left: 25px;

            > .dropdown.icon {
              left: 5px;
            }

            .menu > .item {
              padding-left: 25px !important;
            }
          }

          > span {
            display: block;
            padding: 18px 0;
          }

          .mobile-label {
            margin-bottom: 15px;
          }
        }

        &.link {
          width: 100%;
          max-width: 320px;
        }

        &.currency {
          width: 100%;
          max-width: 160px;
          padding: 0;
        }

        &.rounding {
          width: 100%;
          max-width: 160px;
          padding: 0;
        }

        &.commission {
          width: 100%;
          max-width: 160px;
          padding: 0;
        }

        &.max {
          width: 100%;
          max-width: 160px;
          padding: 0;
        }

        &.clones {
          display: block;
          width: 100%;
          padding: 0;

          .empty {
            color: black;
            font-weight: bold;
          }

          .mobile-label {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .page-profile .profile-bookmakers .settings .settings-block {
    flex-wrap: wrap;

    .settings--item.links {
      width: 100%;
      margin: 35px 0 0;
      padding: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .page-profile .profile-bookmakers .table-bookmakers-body {
    grid-gap: 20px;

    .tr {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  .page-profile .profile-bookmakers .table-bookmakers-body {
    display: block;

    .tr {
      padding: 25px 0;
      border-left-color: transparent;
      border-right-color: transparent;

      + .tr {
        margin-top: 25px;
      }
    }

    .td.bk {
      .ui.selection.dropdown {
        max-width: 320px;
      }

      > span {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .page-profile .profile-bookmakers .settings {
    display: block;
    padding: 24px 20px 30px;

    .settings-block {
      display: block;

      .settings--item.order,
      .settings--item.round {
        width: 100%;
      }

      .settings--item + .settings--item {
        margin: 20px 0 0;
      }

      .settings--item.links {
        margin-top: 35px;
      }
    }

    .save-btn {
      margin-top: 35px;
    }
  }
}