@import "../../../../assets/scss/variables";

.page-profile .profile-user {
  display: flex;
  justify-content: space-between;
  max-width: 1190px;
  padding: 0 35px;

  h2 {
    margin-bottom: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 3.6rem;
  }

  &--parameters {
    width: 100%;
    max-width: 520px;

    .params-table {
      display: table;
      width: 100%;

      .tr {
        display: table-row;
      }

      .td {
        display: table-cell;
        padding: 12px 0;

        &.title {
          width: 300px;
          padding-right: 20px;
          font-size: 1.8rem;
          line-height: 2.4rem;
        }

        &.info {
          padding-left: 30px;
          color: #b2b2b2;
          font-size: 2rem;
          font-weight: bold;
          line-height: 2.8rem;
          position: relative;

          .copy-btn {
            position: absolute;
            top: 16px;
            left: 0;
            width: 20px;
            height: 20px;
            background: url("./ic_copy.svg") 0 0 no-repeat;

            &:hover .hint-box {
              opacity: 1;
              visibility: visible;
              z-index: 5;
            }
          }

          &.black {
            color: black;
          }

          &.green {
            color: #2bc800;
          }
        }

        .logout-btn {
          margin-top: 3px;
          position: relative;

          &:hover .hint-box {
            opacity: 1;
            visibility: visible;
            z-index: 5;
          }
        }
      }
    }
  }

  &--pass {
    width: 100%;
    max-width: 320px;

    &--toggler {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      h2 {
        margin-bottom: 0;
      }

      .pass-toggler {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: $blue;
        border-radius: 3px;

        svg {
          path {
            fill: white;
          }

          &:last-child {
            display: none;

            path {
              fill: $blue;
            }
          }
        }

        &.opened {
          background-color: transparent;

          svg {
            &:first-child {
              display: none;
            }

            &:last-child {
              display: block;
            }
          }
        }
      }
    }

    .input-rows {
      position: relative;

      .error-msg {
        display: none;
        position: absolute;
        top: calc(100% + 30px);
        left: 50%;
        transform: translateX(-50%);
        color: $red;
        font-size: 1.4rem;
        line-height: 1.6rem;
        white-space: nowrap;
      }

      &.error .error-msg {
        display: block;
      }
    }

    .submit-btn {
      margin-top: 80px;
    }

    .form-row {
      + .form-row {
        margin-top: 32px;
      }

      &.password-text {
        input {
          padding-right: 22px;
        }

        span {
          display: none;
        }

        &.error span {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-profile .profile-user {
    padding: 0 20px;
    justify-content: flex-start;

    &--parameters {
      max-width: 48%;

      .params-table {
        display: block;

        .tr {
          display: block;

          + .tr {
            margin-top: 24px;
          }
        }

        .td {
          display: block;
          padding: 0;

          &.title {
            width: auto;
          }

          &.info {
            padding-left: 0;

            span {
              padding-left: 30px;
            }

            .copy-btn {
              top: 6px;
            }

            .logout-btn {
              margin-top: 7px;
            }
          }
        }
      }
    }

    &--pass {
      width: 48%;
      margin-left: 60px;

      &--toggler .pass-toggler {
        margin-left: 5px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .page-profile .profile-user {
    &--pass {
      width: 100%;
      max-width: 48%;
      margin-left: 4%;
    }
  }
}

@media screen and (max-width: 520px) {
  .page-profile .profile-user {
    display: block;

    &--parameters {
      max-width: 100%;
    }

    &--pass {
      max-width: 320px;
      margin-top: 50px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 330px) {
  .page-profile .profile-user h2 {
    font-size: 2.6rem;
  }
}