@import "../../../../assets/scss/variables";

.header--nav--profile {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    height: 80px;
    color: $text;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4rem;
    position: relative;

    &:hover {
        color: $text;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $blue;
    }
  }

  .logout-btn {
    margin-left: 16px;
    width: 20px;
    height: 20px;
    background: url("./ic-logout.svg") 0 0 no-repeat;
  }
}