@import "../../../../../../../assets/scss/variables";

.bets-settings {
  width: 100%;

  h3 {
    margin-bottom: 30px;
    color: $text;
    font-size: 1.6rem;
    line-height: 1;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 45px 20px;
  }

  &--item {
    .form-row.checkbox {
      padding-left: 44px;

      input[type="checkbox"] + label {
        padding-left: 28px;
        color: black;

        &::before {
          top: 0;
          transform: translateY(0);
          width: 16px;
          height: 16px;
        }
      }

      input[type="checkbox"]:checked + label::before {
        background-size: 10px 8px;
      }

      img {
        margin-left: 8px;
      }

      &:first-child {
        display: flex;
        align-items: center;
        padding-left: 0;

        input[type="checkbox"] + label {
          padding-left: 44px;
          color: $text;
          font-size: 2rem;
          line-height: 2.4rem;

          &::before {
            width: 24px;
            height: 24px;
          }
        }

        input[type="checkbox"]:checked + label::before {
          background-size: auto auto;
        }
      }
    }
  }
}