@import "../../../../assets/scss/variables";

.live-forks--calculator {
  padding: 0 30px 0 38px;
  background-color: #f3f6f8;

  &--heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;

    .percent {
      color: $text;
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.4rem;

      sub {
        font-size: 1.4rem;
        font-weight: normal;
        bottom: 0;
      }
    }

    .sport {
      display: flex;
      align-items: center;

      span {
        margin-left: 5px;
        color: $blue;
        font-size: 1.2rem;
        line-height: 1;
      }
    }

    .btn-group {
      button + button {
        margin-left: 22px;
      }

      .btn-warning svg path {
        fill: $blue;
        opacity: 1;
      }

      .btn-cancel svg path {
        fill: $red;
        opacity: 1;
      }
    }
  }

  &--tables {
    table {
      width: 100%;
      border-collapse: collapse;

      th {
        height: 30px;
        vertical-align: middle;
        color: #7f7f7f;
        font-size: 1rem;
        font-weight: normal;
        line-height: 2rem;
        text-align: center;
        border-top: 1px solid #e0e0e0;
      }

      .th-bookmaker {
        text-align: left;
      }

      .th-update {
        width: 40px;

        .btn-update {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          margin: 0 auto;
        }
      }

      .th-check .form-row.checkbox {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        input[type="checkbox"] + label {
          width: 12px;
          height: 12px;
          padding-left: 0;
          background-color: white;
          line-height: 1;
          border: 1px solid #c9d1d6;
          border-radius: 4px;

          &::before {
            display: none;
          }
        }

        input[type="checkbox"]:checked + label {
          border-color: $blue;
          background: $blue url("../LiveForksGroupExtended/ic-checkmark.svg") 50% 50% no-repeat;
        }
      }

      td {
        padding: 10px 0;
        text-align: center;
        border-top: 1px solid #e0e0e0;
      }

      .td-bookmaker {
        text-align: left;
        width: 100px;

        .ui.selection.dropdown {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          min-width: 100px;
          min-height: 24px;
          padding: 0 4px 0 8px;
          background-color: white;
          border-radius: 3px;
          border: 1px solid transparent;

          .menu {
            border: 1px solid #f3f6f8;
            border-top-color: transparent;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

            .item {
              padding: 0 4px 0 8px !important;
              color: black;
              font-size: 1.2rem;
              line-height: 2.4rem;
              letter-spacing: 0.1px;
            }
          }

          > .text {
            color: black;
            font-size: 1.2rem;
            line-height: 2.4rem;
            letter-spacing: 0.1px;
          }

          > .dropdown.icon {
            position: static;
            opacity: 1;
            float: none;
            width: 9px;
            height: 5px;
            margin: 0 0 0 3px;
            padding: 0;
            background: url("./ic-drop-arr.svg") 0 0 no-repeat;
            line-height: 1;
            transition: transform 0.3s;

            &::before {
              display: none;
            }
          }

          &.active {
            border-color: 1px solid #f3f6f8;
            border-bottom-color: transparent;

            > .dropdown.icon {
              transform: rotate(-180deg);
            }
          }
        }
      }

      .td-update,
      .td-check {
        width: 40px;
      }

      .td-bet {
        color: black;
        font-size: 1.2rem;
        line-height: 2.4rem;
        letter-spacing: 0.1px;
      }

      .td-rate,
      .td-sum,
      .td-income {
        .form-row {
          margin: 0 auto;

          input[type="text"],
          input[type="number"] {
            height: 24px;
            padding: 0 8px;
            background-color: white;
            color: black;
            font-size: 1.2rem;
            line-height: 1;
            letter-spacing: 0.1px;
            text-align: right;
            border: 0;
            border-radius: 3px;
          }
        }
      }

      .td-rate .form-row {
        max-width: 48px;
      }

      .td-sum .form-row {
        max-width: 40px;
      }

      .td-income .form-row {
        max-width: 42px;

        input[type="text"],
        input[type="number"] {
          color: #0065f2;
          font-size: 1.4rem;
          font-weight: 600;
          text-align: center;
        }
      }

      .td-update .btn-update {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin: 0 auto;

        svg path {
          fill: $text;
        }
      }

      .td-check,
      .td-allocated {
        .form-row.checkbox {
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;

          input[type="checkbox"] + label {
            width: 12px;
            height: 12px;
            padding-left: 0;
            background-color: white;
            line-height: 1;
            border: 1px solid #c9d1d6;
            border-radius: 4px;

            &::before {
              display: none;
            }
          }

          input[type="checkbox"]:checked + label {
            border-radius: 2px;
            border-color: $blue;
            background: $blue url("../LiveForksGroupExtended/ic-checkmark.svg") 50% 50% no-repeat;
          }
        }
      }

      .td-currency,
      .td-rounding {
        .ui.selection.dropdown {
          display: inline-flex;
          align-items: center;
          min-width: 54px;
          min-height: 24px;
          padding: 0 6px;
          background-color: #f9f9f9;
          border-radius: 3px;
          border: 1px solid #4c4c4c;

          .menu {
            border: 1px solid #4c4c4c;
            border-top-color: transparent;

            .item {
              padding: 0 6px !important;
              color: black;
              font-size: 1.2rem;
              line-height: 2.4rem;
              letter-spacing: 0.1px;
              text-transform: uppercase;
            }
          }

          > .text {
            color: black;
            font-size: 1.2rem;
            line-height: 2.4rem;
            letter-spacing: 0.1px;
            text-transform: uppercase;
          }

          > .dropdown.icon {
            position: static;
            opacity: 1;
            float: none;
            width: 9px;
            height: 5px;
            margin: 0 0 0 8px;
            padding: 0;
            background: url("./ic-drop-arr.svg") 0 0 no-repeat;
            line-height: 1;
            transition: transform 0.3s;

            &::before {
              display: none;
            }
          }

          &.active {
            border-bottom-color: transparent;

            > .dropdown.icon {
              transform: rotate(-180deg);
            }
          }
        }
      }

      .td-rounding .ui.selection.dropdown {
        min-width: 50px;
        justify-content: space-between;
      }

      .td-fixed .form-row.radio {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        input[type="radio"] + label {
          width: 12px;
          height: 12px;
          padding-left: 0;
          background-color: white;
          line-height: 1;
          border-radius: 50%;
          border: 1px solid #c9d1d6;

          &::before {
            display: none;
          }

          &::after {
            top: 2px;
            left: 2px;
            width: 6px;
            height: 6px;
          }
        }

        input[type="radio"]:checked + label {
          border-color: $blue;
        }
      }

      .td-close {
        width: 40px;

        .btn-close {
          margin: 0 auto;
          width: 13px;
          height: 13px;
          background: url("./ic-close.svg") 0 0 no-repeat;
        }
      }

      .td-plugin {
        width: 40px;

        .btn-plugin {
          margin: 0 auto;
          width: 18px;
          height: 18px;
          background: url("./ic-puzzle.svg") 0 0 no-repeat;
        }
      }

      .td-event {
        border-top: 0;

        .event {
          display: flex;
          align-items: center;

          .ev-copy {
            width: 14px;
            height: 14px;
            background: url("./ic-copy.svg") 0 0 no-repeat;
          }

          span {
            display: inline-block;
            margin-left: 10px;
            font-size: 1.4rem;
            line-height: 1.4rem;
          }

          .ev-part {
            color: $text;
            font-weight: 600;
          }

          .ev-divider {
            display: inline-block;
            width: 1px;
            height: 13px;
            background-color: #94a3ac;
          }

          .ev-name {
            color: #94a3ac;
          }

          .ev-score {
            color: $blue;
          }
        }
      }

      .td-bks {
        text-align: left;

        .form-row.checkbox {
          width: auto;

          input[type="checkbox"] + label {
            padding-left: 16px;
            color: $text;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1;

            &::before {
              width: 12px;
              height: 12px;
              padding-left: 0;
              background-color: white;
              line-height: 1;
              border: 1px solid #c9d1d6;
              border-radius: 4px;

              &::before {
                display: none;
              }
            }
          }

          input[type="checkbox"]:checked + label::before {
            border-radius: 2px;
            border-color: $blue;
            background: $blue url("../LiveForksGroupExtended/ic-checkmark.svg") 50% 50% no-repeat;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2200px) {
  .live-forks--calculator--tables table .td-update,
  .live-forks--calculator--tables table .td-check {
    width: 50px;
  }

  .live-forks--calculator--tables table .td-sum .form-row {
    max-width: 70px;
  }

  .live-forks--calculator--tables table .td-currency .ui.selection.dropdown,
  .live-forks--calculator--tables table .td-rounding .ui.selection.dropdown {
    min-width: 90px;
    justify-content: space-between;
  }

  .live-forks--calculator--tables table .td-income .form-row {
    max-width: 82px;
  }
}