.live-forks {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f3f6f8;

    &--content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }
}