@import "../../../../assets/scss/_variables.scss";

.header--nav--auth {
  display: flex;
  align-items: center;

  li {
    &:hover button {
      background-color: $blue;
      color: white;
    }
    &.active button {
      background-color: transparent;
      color: $blue;
    }
  }

  button {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 15px;
    color: #b2b2b2;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4rem;
    transition: background-color 0.2s, color 0.2s;
    position: relative;
  }
}