@import "../../../../assets/scss/variables";

.live-forks--filter {
  &--top {
    width: 100%;
    max-width: 100%;
    background-color: white;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 4;

    .content {
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      padding: 30px 0 55px;

      .title {
        display: flex;
        justify-content: space-between;
        position: relative;

        h1 {
          margin: 0;
          color: $text;
          font-size: 2.8rem;
          line-height: 3.6rem;
        }

        .btn-close {
          position: absolute;
          top: 0;
          right: 0;
          width: 12px;
          height: 11px;
          background: url("./ic-close.svg") 0 0 no-repeat;
        }
      }

      .filter {
        margin-top: 25px;
        display: flex;
        align-items: flex-end;

        .form-row {
          label {
            margin-bottom: 2px;
            color: $text;
            font-size: 1.4rem;
            line-height: 2rem;
          }

          .ui.selection.dropdown {
            display: flex;
            align-items: center;
            height: 40px;
            padding: 0 16px;
            left: -1px;
            width: calc(100% + 2px);

            .text {
              color: black;
              font-size: 1.2rem;
              line-height: 2.4rem;
              letter-spacing: 0.1px;
            }

            > .dropdown.icon {
              top: 15px;
              right: 14px;
              width: 11px;
              height: 7px;
              background-size: 11px 7px;
            }

            &.active {
              background-color: white;
              border-radius: 10px 10px 0 0;
              border: 1px solid #f3f6f8;
              border-bottom-color: transparent;

              &::before {
                display: none;
              }
            }

            &.color-dropdown .menu {
              padding: 0;

              .item {
                padding: 8px !important;

                &:hover {
                  background-color: rgba(214, 229, 255, 0.33);
                }

                .text {
                  padding: 0;
                }
              }
            }

            &.sound-dropdown {
              .menu {
                padding: 10px;

                .item {
                  padding: 6px 20px 6px 6px !important;
                  border-radius: 3px;

                  &:hover {
                    background: rgba(214, 229, 255, 0.33) url("./ic-arr-right.svg") 95% 50% no-repeat;

                    span {
                      color: $blue;
                      font-weight: 600;
                    }
                  }
                }
              }

              &.active .text {
                font-size: 1.4rem;
              }
            }

            .menu {
              background-color: white;
              border: 1px solid #f3f6f8;
              border-top-color: transparent;
              box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
              border-radius: 0 0 10px 10px;

              .item {
                padding: 0 !important;

                span {
                  display: inline-block;
                  padding: 6px;
                  color: #5e7483;
                  font-size: 1.4rem;
                  line-height: 1.8rem;
                }

                &.selected-item span {
                  color: #28465a;
                  font-weight: 600;
                }
              }
            }
          }

          + .form-row {
            margin-left: 33px;
          }
        }

        &--name {
          width: 440px;

          input[type="text"] {
            height: 40px;
            padding: 0 14px;
            color: black;
            font-size: 1.6rem;
            line-height: 1;
            letter-spacing: 0.1px;
          }
        }

        &--color {
          width: 97px;
        }

        &--sound {
          width: 208px;
        }

        .btn-save {
          margin-left: 33px;
          flex-shrink: 1;
          max-width: 195px;
          height: 40px;
          font-size: 1.6rem;
          line-height: 1;
        }
      }
    }
  }
}